<img alt="Logo of {{ tournament.name }}" width="50" height="50" ngSrc="{{ tournament.organizer.logo }}">

<div class="tournament-information">
  <div class="event-information">
    <p class="date">{{ tournament.date.start | date:"dd.MM.YYYY" }} - {{ tournament.date.end | date:"dd.MM.YYYY" }}</p>

    <p class="city">{{ tournament.location }}</p>
  </div>
  <p>{{ tournament.teamCount }}/{{ tournament.possibleSpace }}</p>
</div>

<h2>{{ tournament.name }}</h2>

<mat-progress-bar mode="determinate" value="{{ (tournament.teamCount / tournament.possibleSpace) * 100 }}" />
