<div [formGroup]="form">
  <app-data-container-row>
    <span class="material-icons-outlined" ngProjectAs="container-icon">rule</span>
    <h3 ngProjectAs="container-headline">Turniersystem</h3>
    <div class="content" ngProjectAs="container-content">
      <textarea
        pInputTextarea
        [formControl]="form.controls.tournamentSystem"
        [autoResize]="true"></textarea>
      <div class="link">
        <h5>Link:</h5>
        <input
          pInputText
          type="text"
          [formControl]="form.controls.tournamentSystemLink"
        >
      </div>
    </div>
  </app-data-container-row>

  <app-data-container-row>
    <span class="material-icons-outlined" ngProjectAs="container-icon">rule</span>
    <h3 ngProjectAs="container-headline">Pompfencheck</h3>
    <app-info-button ngProjectAs="container-additional">
      <p>Info Text</p>
    </app-info-button>
    <div class="content" ngProjectAs="container-content">
      <textarea
        pInputTextarea
        [formControl]="form.controls.pompfCheck"
        [autoResize]="true"></textarea>
      <div class="link">
        <h5>Link:</h5>
        <input
          pInputText
          type="text"
          [formControl]="form.controls.pompfCheckLink"
        >
      </div>
    </div>
  </app-data-container-row>

  <app-data-container-row>
    <span class="material-icons-outlined" ngProjectAs="container-icon">rule</span>
    <h3 ngProjectAs="container-headline">Hausregeln</h3>
    <div class="content" ngProjectAs="container-content">
      <textarea
        pInputTextarea
        [formControl]="form.controls.houseRules"
        [autoResize]="true"></textarea>
      <div class="link">
        <h5>Link:</h5>
        <input
          pInputText
          type="text"
          [formControl]="form.controls.houseRulesLink"
        >
      </div>
    </div>
  </app-data-container-row>

  <app-data-container-row>
    <span class="material-icons-outlined" ngProjectAs="container-icon">rule</span>
    <h3 ngProjectAs="container-headline">Schuhwerk</h3>
    <app-info-button ngProjectAs="container-additional">
      <p>Info Text</p>
    </app-info-button>
    <div class="content" ngProjectAs="container-content">
      <div class="shoes-row">
        <h5>Noppenschuhe</h5>
        <p-inputSwitch [formControl]="form.controls.shoes.controls.studded" />
      </div>
      <div class="shoes-row">
        <h5>Nockenschuhe</h5>
        <p-inputSwitch [formControl]="form.controls.shoes.controls.cam" />
      </div>
      <div class="shoes-row">
        <h5>Stollenschuhe</h5>
        <p-inputSwitch [formControl]="form.controls.shoes.controls.cleats" />
      </div>
      <div class="shoes-row">
        <h5>Barfuß</h5>
        <p-inputSwitch [formControl]="form.controls.shoes.controls.barefoot" />
      </div>
      <textarea
        pInputTextarea
        [formControl]="form.controls.shoes.controls.shoesText"
        [autoResize]="true"></textarea>
    </div>
  </app-data-container-row>
</div>
