textarea {
  width: 100%;
  resize: vertical;
  min-height: 35px;
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

input {
  width: 100%;
  margin-left: 8px;
}

.shoes-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}
