<div [formGroup]="form">
  <app-data-container-row>
    <span class="material-icons-outlined" ngProjectAs="container-icon"
      >rule</span
    >
    <h3 ngProjectAs="container-headline">
      {{ 'create-tournament.tournament-system' | translate }}
    </h3>
    <div class="content" ngProjectAs="container-content">
      <textarea
        pInputTextarea
        [formControl]="form.controls.tournamentSystem"
        [autoResize]="true"
      ></textarea>
      <div class="link">
        <h5>{{ 'create-tournament.link' | translate }}:</h5>
        <input
          pInputText
          type="text"
          [formControl]="form.controls.tournamentSystemLink"
        />
      </div>
    </div>
  </app-data-container-row>

  <app-data-container-row>
    <span class="material-icons-outlined" ngProjectAs="container-icon"
      >rule</span
    >
    <h3 ngProjectAs="container-headline">
      {{ 'create-tournament.pompf-check' | translate }}
    </h3>
    <div class="content" ngProjectAs="container-content">
      <textarea
        pInputTextarea
        [formControl]="form.controls.pompfCheck"
        [autoResize]="true"
      ></textarea>
      <div class="link">
        <h5>{{ 'create-tournament.link' | translate }}:</h5>
        <input
          pInputText
          type="text"
          [formControl]="form.controls.pompfCheckLink"
        />
      </div>
    </div>
  </app-data-container-row>

  <app-data-container-row>
    <span class="material-icons-outlined" ngProjectAs="container-icon"
      >rule</span
    >
    <h3 ngProjectAs="container-headline">
      {{ 'create-tournament.house-rules' | translate }}
    </h3>
    <div class="content" ngProjectAs="container-content">
      <textarea
        pInputTextarea
        [formControl]="form.controls.houseRules"
        [autoResize]="true"
      ></textarea>
      <div class="link">
        <h5>{{ 'create-tournament.link' | translate }}:</h5>
        <input
          pInputText
          type="text"
          [formControl]="form.controls.houseRulesLink"
        />
      </div>
    </div>
  </app-data-container-row>

  <app-data-container-row>
    <span class="material-icons-outlined" ngProjectAs="container-icon"
      >rule</span
    >
    <h3 ngProjectAs="container-headline">
      {{ 'create-tournament.shoes' | translate }}
    </h3>
    <app-info-button ngProjectAs="container-additional">
      <p>
        <b>{{
          'create-tournament.shoes-information-nubbed-header' | translate
        }}</b>
        {{ 'create-tournament.shoes-information-nubbed' | translate }}
      </p>
      <br />
      <p>
        <b>{{
          'create-tournament.shoes-information-cleaded-header' | translate
        }}</b>
        {{ 'create-tournament.shoes-information-cleaded' | translate }}
      </p>
      <br />
      <p>
        <b>{{
          'create-tournament.shoes-information-studded-header' | translate
        }}</b>
        {{ 'create-tournament.shoes-information-studded' | translate }}
      </p>
    </app-info-button>
    <div class="content" ngProjectAs="container-content">
      <div class="shoes-row">
        <h5>
          {{ 'create-tournament.shoes-information-nubbed-header' | translate }}
        </h5>
        <p-inputSwitch [formControl]="form.controls.shoes.controls.studded" />
      </div>
      <div class="shoes-row">
        <h5>
          {{ 'create-tournament.shoes-information-cleaded-header' | translate }}
        </h5>
        <p-inputSwitch [formControl]="form.controls.shoes.controls.cam" />
      </div>
      <div class="shoes-row">
        <h5>
          {{ 'create-tournament.shoes-information-studded-header' | translate }}
        </h5>
        <p-inputSwitch [formControl]="form.controls.shoes.controls.cleats" />
      </div>
      <div class="shoes-row">
        <h5>
          {{
            'create-tournament.shoes-information-barefoot-header' | translate
          }}
        </h5>
        <p-inputSwitch [formControl]="form.controls.shoes.controls.barefoot" />
      </div>
      <textarea
        pInputTextarea
        [formControl]="form.controls.shoes.controls.shoesText"
        [autoResize]="true"
      ></textarea>
    </div>
  </app-data-container-row>
</div>
