<div class="header" [formGroup]="form">
  <div class="image-container">
    <img
      id="logo"
      alt="Logo of {{ form.controls.name.value }}"
      height="150"
      width="150"
      src="{{ getPictureUrl() }}"
    />
    <app-button
      [color]="ButtonColorEnum.White"
      [type]="ButtonTypeEnum.Round"
      (click)="fileInput.click()">
      <span class="material-icons-outlined">edit</span>
    </app-button>
    <input
      type="file"
      #fileInput
      style="display: none"
      (change)="onFileSelected($event)"
    />
  </div>

  <div class="team-information">
    <div class="meta-data">
      @if (!form.controls.isMixTeam.value) {
      <label for="city" id="cityLabel">{{
        'page-manage-team.city' | translate
      }}</label>
      <input
        pInputText
        type="text"
        formControlName="city"
        value="{{ form.controls.city.value }}"
        id="city"
      />
      } @else {
      <h3 class="city">{{ 'page-manage-team.mix-team' | translate }}</h3>
      }
      <div class="switch">
        <h3 class="mixteam">{{ 'page-manage-team.mix-team' | translate }}?</h3>
        <p-inputSwitch formControlName="isMixTeam" />
      </div>
    </div>
    @if ((form.controls.city.dirty || form.controls.city.touched || form.controls.isMixTeam.dirty || form.controls.isMixTeam.touched ) &&
    form.hasError('mixteamOrCityRequired')) {
    <p class="error-message small-text">{{ 'page-manage-team.city-or-mixteam-required' | translate }}</p>
    }

    <label for="name">{{ 'page-manage-team.name' | translate }}</label>
    <input
      pInputText
      type="text"
      id="name"
      [formControl]="form.controls.name"
    />
    @if ((form.controls.name.dirty || form.controls.name.touched) &&
    form.controls.name.hasError('required')) {
    <p class="error-message small-text">{{ 'page-manage-team.name-required' | translate }}</p>
    }
  </div>

  <ng-template #city>
    <h3 class="city">{{ form.controls.city.value }}</h3>
  </ng-template>
</div>
