<h1>Turnier erstellen</h1>

<page-create-tournament-navigation />

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <page-tournament-information-basic
    [form]="form.controls.basic"
  />

  <p-divider />

  <page-create-tournament-information-registration
    [form]="form.controls.registration"
  />

  <p-divider />

  <page-create-tournament-information-contact
    [form]="form.controls.contact"
  />

  <p-divider />

  <page-create-tournament-information-accommodation
    [form]="form.controls.accommodation"
  />

  <p-divider />

  <page-create-tournament-information-rules
    [form]="form.controls.rules"
  />

  <p-divider />

  <page-create-tournament-information-additional
    [form]="form.controls.additionalText"
  />

  <p-divider />

  <page-create-tournament-submit />
</form>
