<h1>Turnier erstellen</h1>

<page-create-tournament-navigation />

<page-tournament-information-basic
  [form]="form.controls.basic"
/>

<p-divider />

<page-create-tournament-information-registration
  [form]="form.controls.registration"
/>

<p-divider />

<page-create-tournament-information-contact />

<p-divider />

<page-create-tournament-information-accommodation />

<p-divider />

<page-create-tournament-information-rules />

<p-divider />

<page-create-tournament-information-additional />

<page-create-tournament-submit />
