@let tournament = tournament$ | async; @if (tournament) {
<tournament-header [tournament]="tournament" />
<tournament-information [tournament]="tournament" />

<section class="registration">
  @if (tournament?.status === TournamentStatus.PUBLISHED && (canRegister$ |
  async) && tournament?.id) {
  <tournament-registration
    [registrationStartDate]="tournament.registrationStartDate"
    [tournamentId]="tournament.id"
    [registeredTeams]="tournament.teams"
  />
  } @if (teams$ | async; as teams) {
  <tournament-teams [teams]="teams" />
  }
</section>
}
