:host {
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 35%;
  grid-gap: 48px;
  grid-template-areas: "header header" "content registration";
}

tournament-header {
  grid-area: header;
}

tournament-information {
  grid-area: content;
}

.registration {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
