<app-data-container-expandable [id]="id" [isOpen]="isOpen">
  <app-data-container-row ngProjectAs="panel-header">
    <span class="material-icons-outlined" ngProjectAs="container-icon">pin_drop</span>
    <h5 ngProjectAs="container-headline">{{ 'page-tournament-details.address' | translate }}</h5>
    <p ngProjectAs="container-content">{{ tournament.address }}</p>
  </app-data-container-row>

  <mat-divider ngProjectAs="panel-content" />

  <app-data-container-row ngProjectAs="panel-content" class="first-content-row">
    <span class="material-icons-outlined" ngProjectAs="container-icon">pin_drop</span>
    <h5 ngProjectAs="container-headline">{{ 'page-tournament-details.arrival' | translate }}</h5>
    <p ngProjectAs="container-content">{{ tournament.arrivalTime }}</p>
  </app-data-container-row>

  <mat-divider ngProjectAs="panel-content" />

  <app-data-container-row ngProjectAs="panel-content">
    <span class="material-icons-outlined" ngProjectAs="container-icon">pin_drop</span>
    <h5 ngProjectAs="container-headline">{{ 'page-tournament-details.schedule' | translate }}</h5>
    <p ngProjectAs="container-content">{{ tournament.schedule }}</p>
  </app-data-container-row>

  <mat-divider ngProjectAs="panel-content" />

  <app-data-container-row ngProjectAs="panel-content">
    <span class="material-icons-outlined" ngProjectAs="container-icon">pin_drop</span>
    <h5 ngProjectAs="container-headline">{{ 'page-tournament-details.accommodation' | translate }}</h5>
    <p ngProjectAs="container-content">{{ tournament.accommodation.text }}</p>
    <app-chip ngProjectAs="container-additional">{{ tournament.accommodation.type }}</app-chip>
  </app-data-container-row>

  <mat-divider ngProjectAs="panel-content" />

  <app-data-container-row ngProjectAs="panel-content">
    <span class="material-icons-outlined" ngProjectAs="container-icon">pin_drop</span>
    <h5 ngProjectAs="container-headline">{{ 'page-tournament-details.food' | translate }}</h5>
    <p ngProjectAs="container-content">{{ 'page-tournament-details.breakfast' | translate }}: {{ tournament.food.morning }}</p>
    <p ngProjectAs="container-content">{{ 'page-tournament-details.lunch' | translate }}: {{ tournament.food.noon }}</p>
    <p ngProjectAs="container-content">{{ 'page-tournament-details.dinner' | translate }}: {{ tournament.food.evening }}</p>
    <p ngProjectAs="container-content">{{ 'page-tournament-details.gastronomy' | translate }}: {{ tournament.food.gastro }}</p>
  </app-data-container-row>
</app-data-container-expandable>
