<app-data-container [id]="id" [isOpen]="isOpen">
  <app-data-container-row ngProjectAs="panel-header">
    <span class="material-icons-outlined" ngProjectAs="container-icon">pin_drop</span>
    <p ngProjectAs="container-headline">Adresse</p>
    <p ngProjectAs="container-content">{{ tournament.address }}</p>
  </app-data-container-row>

  <mat-divider ngProjectAs="panel-content" />

  <app-data-container-row ngProjectAs="panel-content" class="first-content-row">
    <span class="material-icons-outlined" ngProjectAs="container-icon">pin_drop</span>
    <p ngProjectAs="container-headline">Anreise</p>
    <p ngProjectAs="container-content">{{ tournament.arrivalTime }}</p>
  </app-data-container-row>

  <mat-divider ngProjectAs="panel-content" />

  <app-data-container-row ngProjectAs="panel-content">
    <span class="material-icons-outlined" ngProjectAs="container-icon">pin_drop</span>
    <p ngProjectAs="container-headline">Zeitplan</p>
    <p ngProjectAs="container-content">{{ tournament.schedule }}</p>
  </app-data-container-row>

  <mat-divider ngProjectAs="panel-content" />

  <app-data-container-row ngProjectAs="panel-content">
    <span class="material-icons-outlined" ngProjectAs="container-icon">pin_drop</span>
    <p ngProjectAs="container-headline">Übernachtung</p>
    <p ngProjectAs="container-content">{{ tournament.accommodation.text }}</p>
    <app-chip ngProjectAs="container-additional">{{ tournament.accommodation.type }}</app-chip>
  </app-data-container-row>

  <mat-divider ngProjectAs="panel-content" />

  <app-data-container-row ngProjectAs="panel-content">
    <span class="material-icons-outlined" ngProjectAs="container-icon">pin_drop</span>
    <p ngProjectAs="container-headline">Verpflegung</p>
    <p ngProjectAs="container-content">Frühstück: {{ tournament.food.morning }}</p>
    <p ngProjectAs="container-content">Mittagessen: {{ tournament.food.noon }}</p>
    <p ngProjectAs="container-content">Abendessen: {{ tournament.food.evening }}</p>
    <p ngProjectAs="container-content">Gastro: {{ tournament.food.gastro }}</p>
  </app-data-container-row>
</app-data-container>
