<img alt="Image of organizing team" width="200" height="200" ngSrc="{{ tournament.organizer.logo }}">

<div class="tournament-information">
  <div class="meta-data">
    <div class="event-information">
      <h2 class="date">{{ tournament.date.start | date:"dd.MM.YYYY" }} - {{ tournament.date.end | date:"dd.MM.YYYY" }}</h2>

      <h2 class="city">{{ tournament.location }}</h2>
    </div>

    <h2>{{ tournament.teamCount }}/{{ tournament.possibleSpace }}</h2>
  </div>

  <h1>{{ tournament.name }}</h1>
</div>
