alembic
autoflake
autopep8
celery
cryptography
flask
flask_caching
flask_cors
flask_inputfilter==0.0.3
flask_jwt_extended
flask_limiter
flask_migrate
flask_sqlalchemy
flask_talisman
gunicorn
isort
pillow
pipreqs
pymysql
pytest
pytest_cov
pytest_env
pyyaml
redis
