<app-data-container>
  <app-data-container-row>
    <p ngProjectAs="container-headline">
      zuletzt an einem Turnier teilgenommen:
    </p>
    <p ngProjectAs="container-content">
      {{ team.lastTournamentPlayed | date : 'dd.MM.YYYY' }}
    </p>
  </app-data-container-row>

  <app-data-container-row>
    <p ngProjectAs="container-headline">zuletzt ein Turnier organisiert:</p>
    <p ngProjectAs="container-content">
      {{ team.lastTournamentOrganized | date : 'dd.MM.YYYY' }}
    </p>
  </app-data-container-row>
</app-data-container>
