<app-data-container>
  <app-data-container-row>
    <p ngProjectAs="container-headline">
      {{ 'page-team-details.last-tournament-played' | translate }}:
    </p>
    <p ngProjectAs="container-content">
      {{ team.lastTournamentPlayed | date : 'dd.MM.YYYY' }}
    </p>
  </app-data-container-row>

  <app-data-container-row>
    <p ngProjectAs="container-headline">
      {{ 'page-team-details.last-tournament-organized' | translate }}:
    </p>
    <p ngProjectAs="container-content">
      {{ team.lastTournamentOrganized | date : 'dd.MM.YYYY' }}
    </p>
  </app-data-container-row>
</app-data-container>
