<h3>{{ 'page-manage-team.members' | translate }}</h3>

@let team = team$ | async;

<app-data-container>
  @for (member of team?.members; track member.id) {
  <app-data-container-row>
    <img
      ngProjectAs="container-icon"
      alt="Profilbild von {{ member.name }}"
      src="{{ member.picture }}"
      width="28"
      height="28"
    />
    <p ngProjectAs="container-headline">{{ member.name }}</p>
  </app-data-container-row>
  } @empty {
  <div class="noMembers">
    <p>{{ 'page-manage-team.no-members' | translate }}</p>
  </div>
  }
  <app-button
    [fullWidth]="false"
    (click)="openAddMemberOverlay()"
  >
    <span class="material-icons-outlined">add</span>
  </app-button>
</app-data-container>

<p-dialog header="{{ 'page-manage-team.add-member' | translate }}" [modal]="true" [(visible)]="isAddMemberOverlayVisible">
  <div>
    @if (possibleUsers) {
    <p-dropdown
      [options]="possibleUsers"
      [(ngModel)]="selectedUser"
      optionLabel="name"
      [filter]="true"
      filterBy="name"
      placeholder="{{ 'page-manage-team.select-user' | translate }}"
    />
    }
  </div>

  <ng-template pTemplate="footer">
    <app-button
      (click)="closeAddMemberOverlay()"
      [color]="ButtonColorEnum.White"
      [type]="ButtonTypeEnum.Raised"
    >
      {{ 'page-manage-team.cancel' | translate }}
    </app-button>

    <app-button
      (click)="onAddMember(); closeAddMemberOverlay()"
      [color]="ButtonColorEnum.Red"
      [type]="ButtonTypeEnum.Raised"
    >
      {{ 'page-manage-team.add-member' | translate }}
    </app-button>
  </ng-template>
</p-dialog>
