<div class="button-wrapper">
  <app-button
    [color]="ButtonColorEnum.White"
    [type]="ButtonTypeEnum.Flat"
    (click)="toggleAllPanels()"
  >
    @if (areAllPanelsOpen) {
    {{ 'page-tournament-details.collapse-all' | translate }}
    } @else {
    {{ 'page-tournament-details.expand-all' | translate }}
    }
  </app-button>
</div>

<div>
  @for (panel of panels; track panel) { @switch (panel.id) { @case
  (PanelTypes.Teams) {
  <app-data-container-expandable
    class="teams"
    [id]="panel.id"
    [isOpen]="panel.isOpen"
    (toggleVisibility)="togglePanel(panel.id, $event)"
  >
    @if (panel.isOpen) {
    <p class="title" ngProjectAs="panel-header">
      {{
        showPlacement
          ? ('page-tournament-details.ranking' | translate)
          : ('page-tournament-details.registered' | translate)
      }}:
    </p>
    } @else {
    <section ngProjectAs="panel-header" class="teams-previews">
      @if (tournament.teams.participating.length === 0 &&
      tournament.teams.waiting.length === 0) {
      <p>{{ 'page-tournament-details.no-registered-teams' | translate }}</p>
      } @else { @for (team of previewTeams; track team) {
      <img
        ngProjectAs="team-logo"
        ngSrc="{{ team.logoUrl }}"
        alt="logo"
        height="32"
        width="32"
      />
      }}
    </section>
    }

    <tournament-teams
      ngProjectAs="panel-content"
      [teams]="tournament.teams"
      [showPlacement]="showPlacement"
    />
  </app-data-container-expandable>
  } @case (PanelTypes.Registration) {
  <tournament-information-registration
    [id]="panel.id"
    [isOpen]="panel.isOpen"
    [tournament]="tournament"
  />
  } @case (PanelTypes.Contacts) {
  <tournament-information-contacts
    [id]="panel.id"
    [isOpen]="panel.isOpen"
    [tournament]="tournament"
  />
  } @case (PanelTypes.Location) {
  <tournament-information-location
    [id]="panel.id"
    [isOpen]="panel.isOpen"
    [tournament]="tournament"
  />
  } @case (PanelTypes.Rules) {
  <tournament-information-rules
    [id]="panel.id"
    [isOpen]="panel.isOpen"
    [tournament]="tournament"
  />
  } @case (PanelTypes.Additional) {
  <tournament-information-additional
    [id]="panel.id"
    [isOpen]="panel.isOpen"
    [tournamentAdditionalInformation]="tournament.additionalInformation"
  />
  } } }
</div>
