<div class="button-wrapper">
  <app-button [color]="color" [size]="size" (click)="toggleAllPanels()">{{ areAllPanelsOpen ? 'Close All' : 'Open All' }}</app-button>
</div>

<div *ngFor="let panel of panels">
  <div [ngSwitch]="panel.id">
    <app-data-container class="teams" *ngSwitchCase="'teams'" [id]="panel.id" [isOpen]="panel.isOpen" (toggleVisibility)="togglePanel(panel.id, $event)">
      <section *ngIf="!panel.isOpen" panel-header>
        @for (team of previewTeams; track team) {
          <span class="material-icons-outlined">star</span>
        }
      </section>

      <p class="title" *ngIf="panel.isOpen" panel-header>angemeldet:</p>

      <tournament-teams
        ngProjectAs="panel-content"
        [registeredTeams]="tournament.teams.participating"
        [reservedTeams]="tournament.teams.waiting"
      />
    </app-data-container>

    <app-data-container *ngSwitchCase="'registration'" [id]="panel.id" [isOpen]="panel.isOpen" (toggleVisibility)="togglePanel(panel.id, $event)">
      <app-data-container-row panel-header>
        <span class="material-icons-outlined" ngProjectAs="container-icon">edit_note</span>
        <p ngProjectAs="container-headline">Kosten</p>

        @if (tournament.costs.user) {
          <p ngProjectAs="container-content">{{ tournament.costs.user | currency : 'EUR' : 'symbol-narrow' : '1.0-0' : 'de' }} pro Person</p>
        }

        @if (tournament.costs.team) {
          <p ngProjectAs="container-content">{{ tournament.costs.team | currency : 'EUR' : 'symbol-narrow' : '1.0-0' : 'de' }} pro Team</p>
        }
      </app-data-container-row>

      <mat-divider ngProjectAs="panel-content" />

      <app-data-container-row class="first-content-row" ngProjectAs="panel-content">
        <span class="material-icons-outlined" ngProjectAs="container-icon">edit_note</span>
        <p ngProjectAs="container-headline">Anmeldeverfahren</p>
        <app-chip ngProjectAs="container-additional">{{ tournament.registrationProcedure.type }}</app-chip>

        <p ngProjectAs="container-content">{{ tournament.registrationProcedure.text }}</p> <-- TODO: Klären ob wir das Feld registration_procedure_url brauchen-->
      </app-data-container-row>

      <mat-divider ngProjectAs="panel-content" />

      <app-data-container-row ngProjectAs="panel-content">
        <span class="material-icons-outlined" ngProjectAs="container-icon">edit_note</span>
        <p ngProjectAs="container-headline">Deadlines</p>
        <div ngProjectAs="container-content">
          @for (deadline of tournament.deadlines; track deadline) {
            <p>{{ deadline }}</p>
          }
        </div>
      </app-data-container-row>
    </app-data-container>

    <app-data-container *ngSwitchCase="'contacts'" [id]="panel.id" [isOpen]="panel.isOpen">
      <app-data-container-row panel-header>
        <span class="material-icons-outlined" ngProjectAs="container-icon">contact_page</span>
        <p ngProjectAs="container-headline">Awarenessteam</p>

        @for (contacts of tournament.contacts; track contacts) {
          <p ngProjectAs="container-content">{{ contacts }}</p>
        }
      </app-data-container-row>

      <mat-divider ngProjectAs="panel-content" />

      <app-data-container-row ngProjectAs="panel-content" class="first-content-row">
        <span class="material-icons-outlined" ngProjectAs="container-icon">contact_page</span>
        <p ngProjectAs="container-headline">Organisation</p>

        @for (contacts of tournament.organizer.contacts; track contacts) {
          <p ngProjectAs="container-content">{{ contacts }}</p>
        }
      </app-data-container-row>
    </app-data-container>

    <app-data-container *ngSwitchCase="'address'" [id]="panel.id" [isOpen]="panel.isOpen">
      <app-data-container-row panel-header>
        <span class="material-icons-outlined" ngProjectAs="container-icon">pin_drop</span>
        <p ngProjectAs="container-headline">Adresse</p>
        <p ngProjectAs="container-content">{{ tournament.address }}</p>
      </app-data-container-row>

      <mat-divider ngProjectAs="panel-content" />

      <app-data-container-row ngProjectAs="panel-content" class="first-content-row">
        <span class="material-icons-outlined" ngProjectAs="container-icon">pin_drop</span>
        <p ngProjectAs="container-headline">Anreise</p>
        <p ngProjectAs="container-content">{{ tournament.arrivalTime }}</p>
      </app-data-container-row>

      <mat-divider ngProjectAs="panel-content" />

      <app-data-container-row ngProjectAs="panel-content">
        <span class="material-icons-outlined" ngProjectAs="container-icon">pin_drop</span>
        <p ngProjectAs="container-headline">Zeitplan</p>
        <p ngProjectAs="container-content">{{ tournament.schedule }}</p>
      </app-data-container-row>

      <mat-divider ngProjectAs="panel-content" />

      <app-data-container-row ngProjectAs="panel-content">
        <span class="material-icons-outlined" ngProjectAs="container-icon">pin_drop</span>
        <p ngProjectAs="container-headline">Übernachtung</p>
        <p ngProjectAs="container-content">{{ tournament.accommodation.text }}</p>
        <app-chip ngProjectAs="container-additional">{{ tournament.accommodation.type }}</app-chip>
      </app-data-container-row>

      <mat-divider ngProjectAs="panel-content" />

      <app-data-container-row ngProjectAs="panel-content">
        <span class="material-icons-outlined" ngProjectAs="container-icon">pin_drop</span>
        <p ngProjectAs="container-headline">Verpflegung</p>
        <p ngProjectAs="container-content">Frühstück: {{ tournament.food.morning }}</p>
        <p ngProjectAs="container-content">Mittagessen: {{ tournament.food.noon }}</p>
        <p ngProjectAs="container-content">Abendessen: {{ tournament.food.evening }}</p>
        <p ngProjectAs="container-content">Gastro: {{ tournament.food.gastro }}</p>
      </app-data-container-row>
    </app-data-container>

    <app-data-container *ngSwitchCase="'tournamentSystem'" [id]="panel.id" [isOpen]="panel.isOpen">
      <app-data-container-row panel-header>
        <span class="material-icons-outlined" ngProjectAs="container-icon">menu_book</span>
        <p ngProjectAs="container-headline">Pompfencheck</p>
        <a ngProjectAs="container-additional" href="{{ tournament.pompfCheck.url }}">Link</a>
        <p ngProjectAs="container-content">{{ tournament.pompfCheck.text }}</p>
      </app-data-container-row>

      <mat-divider ngProjectAs="panel-content" class="first-content-row" />

      <app-data-container-row ngProjectAs="panel-content">
        <span class="material-icons-outlined" ngProjectAs="container-icon">menu_book</span>
        <p ngProjectAs="container-headline">Turniersystem</p>
        <a ngProjectAs="container-additional" href="{{ tournament.tournamentSystem.url }}" target="_blank">{{ tournament.tournamentSystem.type }}</a>
        <p ngProjectAs="container-content">{{ tournament.tournamentSystem.text }}</p>
      </app-data-container-row>

      <mat-divider ngProjectAs="panel-content" />

      <app-data-container-row ngProjectAs="panel-content">
        <span class="material-icons-outlined" ngProjectAs="container-icon">menu_book</span>
        <p ngProjectAs="container-headline">Hausregeln</p>
        <a ngProjectAs="container-additional" href="{{ tournament.houseRules.url }}">Link</a>
        <p ngProjectAs="container-content">{{ tournament.houseRules.text }}</p>
      </app-data-container-row>

      <mat-divider ngProjectAs="panel-content" />

      <app-data-container-row ngProjectAs="panel-content">
        <span class="material-icons-outlined" ngProjectAs="container-icon">menu_book</span>
        <p ngProjectAs="container-headline">Schuhwerk</p>

        <app-info-button ngProjectAs="container-additional" [infoText]="'Schuhwerk Infotext'" />

        <p ngProjectAs="container-content">{{ tournament.shoes.text }}</p><-- TODO: Wir haben haufenweise Einzelne angeben zu den Schuhen, die wir hier dann auch nutzen könnten. -->
      </app-data-container-row>
    </app-data-container>

  <app-data-container *ngSwitchCase="'other'" [id]="panel.id" [isOpen]="panel.isOpen">
    <app-data-container-row panel-header>
      <p ngProjectAs="container-headline">zusätzliche Information</p>
      <p ngProjectAs="container-content">{{ tournament.additionalInformation }}</p>
    </app-data-container-row>
  </app-data-container>
  </div>
</div>
