<team-header *ngIf="team$ | async as team" [team]="team" />

<div class="edit-infos">
  <p class="small-text" *ngIf="team$ | async as team">
    {{ 'page-team-details.founded' | translate }}: {{ team.founded | date : 'dd.MM.YYYY' }}
  </p>
  @if (canEditTeam) {
  <app-button (click)="redirectToManageTeam()">
    <span class="material-icons">edit</span>
  </app-button>
  }
</div>

<section class="content">
  <team-information *ngIf="team$ | async as team" [team]="team" />

  <section class="activities">
    @if (isMemberOfTeam) {
    <team-members *ngIf="team$ | async as team" [team]="team" />
    }

    <team-other-tournaments *ngIf="team$ | async as team" [team]="team" />

    <team-own-tournaments *ngIf="team$ | async as team" [team]="team" />
  </section>
</section>
