<data-container>
  <data-container-row>
    <mat-icon ngProjectAs="container-icon">edit_note</mat-icon>
    <p ngProjectAs="container-headline">Kosten</p>
    <p ngProjectAs="container-additional">10€ pro Person</p>
  </data-container-row>
  <data-container-row>
    <mat-icon ngProjectAs="container-icon">edit_note</mat-icon>
    <p ngProjectAs="container-headline">Anmeldeverfahren</p>
    <p ngProjectAs="container-additional">Windhund</p>
    <p ngProjectAs="container-content">Teams aus der Region Franken sind gesetzt alle anderen Teams können sich zur Deadline auf Plätze bewerben und werden per Los-Verfahren zufällig ausgewählt</p>
  </data-container-row>
  <data-container-row>
    <mat-icon ngProjectAs="container-icon">edit_note</mat-icon>
    <p ngProjectAs="container-headline">Deadlines</p>
    <p ngProjectAs="container-content">Überweisung: 23.09. Anmeldungsrunde: 30.09.</p>
  </data-container-row>
</data-container>

<data-container>
  <data-container-row>
    <mat-icon ngProjectAs="container-icon">contact_page</mat-icon>
    <p ngProjectAs="container-headline">Awarenessteam</p>
    <p ngProjectAs="container-additional">01575 80000006</p>
  </data-container-row>
  <data-container-row>
    <mat-icon ngProjectAs="container-icon">contact_page</mat-icon>
    <p ngProjectAs="container-headline">Organisation</p>
    <p ngProjectAs="container-additional">01575 80000005
      orga-at-jugger.com</p>
  </data-container-row>
</data-container>

<data-container>
  <data-container-row>
    <mat-icon ngProjectAs="container-icon">home_pin</mat-icon>
    <p ngProjectAs="container-headline">Adresse</p>
    <p ngProjectAs="container-additional">Columbiadamm 111 21107 Berlin</p>
  </data-container-row>
  <data-container-row>
    <mat-icon ngProjectAs="container-icon">home_pin</mat-icon>
    <p ngProjectAs="container-headline">Anreise</p>
    <p ngProjectAs="container-content">Freitag 18h - Samstag 9h</p>
  </data-container-row>
  <data-container-row>
    <mat-icon ngProjectAs="container-icon">home_pin</mat-icon>
    <p ngProjectAs="container-headline">Zeitplan</p>
    <p ngProjectAs="container-content">Freitag: Pompfencheck 18-22h
      Samstag:
      Frühstück: 8h
      Orgaansage: 9.30h
      Spielbeginn: 10h
      Sonntag:
      Frühstück: 8h
      Spielbeginn: 9h</p>
  </data-container-row>
  <data-container-row>
    <mat-icon ngProjectAs="container-icon">home_pin</mat-icon>
    <p ngProjectAs="container-headline">Übernachtung</p>
    <p ngProjectAs="container-content">Es wird eine Halle bereit gestellt.
      Adresse:
      xxx
      xxx
      xxx</p>
    <p ngProjectAs="container-additional">Turnhalle</p>
  </data-container-row>
  <data-container-row>
    <mat-icon ngProjectAs="container-icon">home_pin</mat-icon>
    <p ngProjectAs="container-headline">Verpflegung</p>
    <p ngProjectAs="container-content">Frühstück Mittagessen Abendessen Gastro</p>
  </data-container-row>
</data-container>

<data-container>
  <data-container-row>
    <mat-icon ngProjectAs="container-icon">menu_book</mat-icon>
    <p ngProjectAs="container-headline">Pompfencheck</p>
    <p ngProjectAs="container-additional">Link</p>
    <p ngProjectAs="container-content">Freitag Abend von 18-22h gecheckt wird nach deutschem Regelwerk.</p>
  </data-container-row>
  <data-container-row>
    <mat-icon ngProjectAs="container-icon">menu_book</mat-icon>
    <p ngProjectAs="container-headline">Turniersystem</p>
    <p ngProjectAs="container-additional">Tugeny</p>
    <p ngProjectAs="container-content">Wir spielen ein Round Robin mit 8 Teams</p>
  </data-container-row>
  <data-container-row>
    <mat-icon ngProjectAs="container-icon">menu_book</mat-icon>
    <p ngProjectAs="container-headline">Hausregeln</p>
    <p ngProjectAs="container-additional">Link</p>
    <p ngProjectAs="container-content">unter dem Link findet ihr eine Auflistung der Hausregeln, die wir auf diesem Turnier ausprobieren wollen.</p>
  </data-container-row>
  <data-container-row>
    <mat-icon ngProjectAs="container-icon">menu_book</mat-icon>
    <p ngProjectAs="container-headline">Schuhwerk</p>
    <p ngProjectAs="container-additional">Info</p>
    <p ngProjectAs="container-content">Noppenschuhe Nockenschuhe Stollenschuhe Barfuß Aus Sicherheitsgründen erlauben wir nicht, dass Barfuß gespielt wird</p>
  </data-container-row>
</data-container>

<data-container>
  <data-container-row>
    <p ngProjectAs="container-headline">zusätzliche Information</p>
    <p ngProjectAs="container-content">Lorem Ipsum</p>
  </data-container-row>
</data-container>
