<app-data-container>
  <app-data-container-row>
    <span class="material-icons-outlined" ngProjectAs="container-icon">edit_note</span>
    <p ngProjectAs="container-headline">Kosten</p>
    <p ngProjectAs="container-content">10€ pro Person</p>
  </app-data-container-row>
  <mat-divider />
  <app-data-container-row>
    <span class="material-icons-outlined" ngProjectAs="container-icon">edit_note</span>
    <p ngProjectAs="container-headline">Anmeldeverfahren</p>
    <app-chip ngProjectAs="container-additional">Windhund</app-chip>
    <p ngProjectAs="container-content">Teams aus der Region Franken sind gesetzt alle anderen Teams können sich zur Deadline auf Plätze bewerben und werden per Los-Verfahren zufällig ausgewählt</p>
  </app-data-container-row>
  <mat-divider />
  <app-data-container-row>
    <span class="material-icons-outlined" ngProjectAs="container-icon">edit_note</span>
    <p ngProjectAs="container-headline">Deadlines</p>
    <div ngProjectAs="container-content">
      <p>Überweisung: 23.09.</p>
      <p>Anmeldungsrunde: 30.09.</p>
    </div>
  </app-data-container-row>
</app-data-container>

<app-data-container>
  <app-data-container-row>
    <span class="material-icons-outlined" ngProjectAs="container-icon">contact_page</span>
    <p ngProjectAs="container-headline">Awarenessteam</p>
    <p ngProjectAs="container-content">01575 80000006</p>
  </app-data-container-row>
  <mat-divider />
  <app-data-container-row>
    <span class="material-icons-outlined" ngProjectAs="container-icon">contact_page</span>
    <p ngProjectAs="container-headline">Organisation</p>
    <p ngProjectAs="container-content">01575 80000005
      orga-at-jugger.com</p>
  </app-data-container-row>
</app-data-container>

<app-data-container>
  <app-data-container-row>
    <span class="material-icons-outlined" ngProjectAs="container-icon">pin_drop</span>
    <p ngProjectAs="container-headline">Adresse</p>
    <p ngProjectAs="container-content">Columbiadamm 111 21107 Berlin</p>
  </app-data-container-row>
  <mat-divider />
  <app-data-container-row>
    <span class="material-icons-outlined" ngProjectAs="container-icon">pin_drop</span>
    <p ngProjectAs="container-headline">Anreise</p>
    <p ngProjectAs="container-content">Freitag 18h - Samstag 9h</p>
  </app-data-container-row>
  <mat-divider />
  <app-data-container-row>
    <span class="material-icons-outlined" ngProjectAs="container-icon">pin_drop</span>
    <p ngProjectAs="container-headline">Zeitplan</p>
    <p ngProjectAs="container-content">Freitag: Pompfencheck 18-22h
      Samstag:
      Frühstück: 8h
      Orgaansage: 9.30h
      Spielbeginn: 10h
      Sonntag:
      Frühstück: 8h
      Spielbeginn: 9h</p>
  </app-data-container-row>
  <mat-divider />
  <app-data-container-row>
    <span class="material-icons-outlined" ngProjectAs="container-icon">pin_drop</span>
    <p ngProjectAs="container-headline">Übernachtung</p>
    <p ngProjectAs="container-content">Es wird eine Halle bereit gestellt.
      Adresse:
      xxx
      xxx
      xxx</p>
    <app-chip ngProjectAs="container-additional">Turnhalle</app-chip>
  </app-data-container-row>
  <mat-divider />
  <app-data-container-row>
    <span class="material-icons-outlined" ngProjectAs="container-icon">pin_drop</span>
    <p ngProjectAs="container-headline">Verpflegung</p>
    <p ngProjectAs="container-content">Frühstück Mittagessen Abendessen Gastro</p>
  </app-data-container-row>
</app-data-container>

<app-data-container>
  <app-data-container-row>
    <span class="material-icons-outlined" ngProjectAs="container-icon">menu_book</span>
    <p ngProjectAs="container-headline">Pompfencheck</p>
    <a ngProjectAs="container-additional">Link</a>
    <p ngProjectAs="container-content">Freitag Abend von 18-22h gecheckt wird nach deutschem Regelwerk.</p>
  </app-data-container-row>
  <mat-divider />
  <app-data-container-row>
    <span class="material-icons-outlined" ngProjectAs="container-icon">menu_book</span>
    <p ngProjectAs="container-headline">Turniersystem</p>
    <a ngProjectAs="container-additional">Tugeny</a>
    <p ngProjectAs="container-content">Wir spielen ein Round Robin mit 8 Teams</p>
  </app-data-container-row>
  <mat-divider />
  <app-data-container-row>
    <span class="material-icons-outlined" ngProjectAs="container-icon">menu_book</span>
    <p ngProjectAs="container-headline">Hausregeln</p>
    <a ngProjectAs="container-additional">Link</a>
    <p ngProjectAs="container-content">unter dem Link findet ihr eine Auflistung der Hausregeln, die wir auf diesem Turnier ausprobieren wollen.</p>
  </app-data-container-row>
  <mat-divider />
  <app-data-container-row>
    <span class="material-icons-outlined" ngProjectAs="container-icon">menu_book</span>
    <p ngProjectAs="container-headline">Schuhwerk</p>
    <app-info-button ngProjectAs="container-additional" [infoText]="'Schuhwerk Infotext'" />
    <p ngProjectAs="container-content">Noppenschuhe Nockenschuhe Stollenschuhe Barfuß Aus Sicherheitsgründen erlauben wir nicht, dass Barfuß gespielt wird</p>
  </app-data-container-row>
</app-data-container>

<app-data-container>
  <app-data-container-row>
    <p ngProjectAs="container-headline">zusätzliche Information</p>
    <p ngProjectAs="container-content">Lorem Ipsum</p>
  </app-data-container-row>
</app-data-container>
