<div class="header">
  <div class="image-container">
    <img
      id="logo"
      alt="Logo of {{ form.controls.name.value }}"
      height="50"
      width="50"
      ngSrc="{{ logoUrl }}"
    />
    <app-button
      (click)="fileInput.click()"
      [color]="ButtonColorEnum.White"
      [type]="ButtonTypeEnum.Round"
    >
      <span class="material-icons-outlined edit-icon">edit</span>
    </app-button>
    <input
      class="file-input"
      type="file"
      #fileInput
      (change)="onFileSelected($event)"
    />
  </div>

  <div class="team-information">
    <div class="meta-data">
      @if (!form.controls.isMixTeam.value) {
      <label for="city" id="cityLabel">{{
        'page-manage-team.city' | translate
      }}</label>
      <input
        pInputText
        type="text"
        formControlName="city"
        value="{{ form.controls.city.value }}"
        id="city"
      />
      } @else {
      <p class="city">{{ 'page-manage-team.mix-team' | translate }}</p>
      }
      <div class="switch">
        <p class="mixteam">{{ 'page-manage-team.mix-team' | translate }}?</p>
        <p-inputSwitch formControlName="isMixTeam" />
      </div>
    </div>
    @if ((form.controls.city.dirty || form.controls.city.touched ||
    form.controls.isMixTeam.dirty || form.controls.isMixTeam.touched ) &&
    form.hasError('mixteamOrCityRequired')) {
    <p class="error-message small-text">
      {{ 'page-manage-team.city-or-mixteam-required' | translate }}
    </p>
    }

    <label for="name">{{ 'page-manage-team.name' | translate }}</label>
    <input
      pInputText
      type="text"
      id="name"
      [formControl]="form.controls.name"
      class="name"
    />
    @if ((form.controls.name.dirty || form.controls.name.touched) &&
    form.controls.name.hasError('required')) {
    <p class="error-message small-text">
      {{ 'page-manage-team.name-required' | translate }}
    </p>
    }
  </div>
</div>
