<app-data-container-expandable [id]="id" [isOpen]="isOpen">
  <app-data-container-row ngProjectAs="panel-header">
    <span class="material-icons-outlined" ngProjectAs="container-icon"
      >contact_page</span
    >
    <h5 ngProjectAs="container-headline">
      {{ 'page-tournament-details.awareness-team' | translate }}
    </h5>

    @for (contacts of tournament.contacts; track contacts) {
    <p ngProjectAs="container-content">{{ contacts }}</p>
    }
  </app-data-container-row>

  <p-divider ngProjectAs="panel-content" />

  <app-data-container-row ngProjectAs="panel-content" class="first-content-row">
    <span class="material-icons-outlined" ngProjectAs="container-icon"
      >contact_page</span
    >
    <h5 ngProjectAs="container-headline">
      {{ 'page-tournament-details.organizer' | translate }}
    </h5>

    @for (contacts of tournament.organizer.contacts; track contacts) {
    <p ngProjectAs="container-content">{{ contacts }}</p>
    }
  </app-data-container-row>
</app-data-container-expandable>
