<app-button
  [fullWidth]="true"
  [color]="ButtonColorEnum.White"
  [type]="ButtonTypeEnum.Raised"
  (click)="openAddTeamOverlay()">weiteres Team hinzufügen</app-button>
<app-button
  class="submit"
  [fullWidth]="true"
  [color]="ButtonColorEnum.Red"
  [type]="ButtonTypeEnum.Raised"
  (click)="save()"
>speichern</app-button>

<p-dialog header="Add Team" [modal]="true" [(visible)]="addTeamVisible" [style]="{ width: '25rem' }">
  <div>
    <p-dropdown
      [options]="allTeams()"
      [(ngModel)]="selectedTeam"
      optionLabel="name"
      placeholder="Select a Team" />
  </div>
  <ng-template pTemplate="footer">
    <app-button
      (onClick)="closeAddTeamOverlay()"
      [color]="ButtonColorEnum.White"
      [type]="ButtonTypeEnum.Raised"
    >
      Cancel
    </app-button>
    <app-button
      (onClick)="addTeam()"
      [color]="ButtonColorEnum.Red"
      [type]="ButtonTypeEnum.Raised"
    >
      Add
    </app-button>
  </ng-template>
</p-dialog>
