@let team = team$ | async; @if (team) {
<team-header [team]="team" />

<section class="content">
  <div class="extra-infos">
    @if (team.founded) {
    <p class="small-text">
      {{ 'page-team-details.founded' | translate }}:
      {{ team.founded | date : 'dd.MM.YYYY' }}
    </p>
    } @if (canEditTeam) {
    <div class="buttons">
      <app-button (click)="redirectToManageTeam()" class="edit-button">
        <span class="material-icons">edit</span>
      </app-button>
      <app-button
        [color]="ButtonColorEnum.Red"
        [type]="ButtonTypeEnum.Raised"
        (click)="createTournament()"
      >
        Turnier erstellen
      </app-button>
    </div>
    }
  </div>

  <team-information [team]="team" />

  <section class="activities">
    @if (isMemberOfTeam) {
    <team-members [team]="team" />
    } @if (team.pastTournaments.length !== 0) {
    <team-other-tournaments [team]="team" />
    } @if (team.organizedTournaments.length !== 0) {
    <team-own-tournaments [team]="team" />
    }
  </section>
</section>
}
