@color-bg-light: #DAEFF0;
@color-red: #B8594A;
@color-blue: #034659;
@color-text-default: #000000;
@color-text-white: #FFFFFF;
@color-bg-white: #FFFFFF;
@color-bg-red: #EAE2E3;
@color-full: #EBD3D6;
@color-negative: #E5B5BC;
@color-button-positive: #BCD7D6;
