
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
//:root {
  //@include mat.all-component-themes($mobile-theme);
//}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($mobile-theme);

$_palettes: (
custom_primary_theme: (
  0: #000000,
  5: #2C0100,
  10: #400100,
  15: #4F0B04,
  20: #5E160D,
  25: #6D2117,
  30: #7C2C21,
  35: #8C372B,
  40: #9B4335,
  50: #BA5B4C,
  60: #DA7363,
  70: #FA8D7B,
  80: #FFB4A7,
  90: #FFDAD4,
  95: #FFEDEA,
  98: #FFF8F6,
  99: #FFFBFF,
  100: #FFFFFF
),
  custom_secondary_theme: (
  0: #000000,
  5: #00131B,
  10: #001F29,
  15: #002A37,
  20: #003545,
  25: #004153,
  30: #104D60,
  35: #21596C,
  40: #2F6579,
  50: #4A7E93,
  60: #6498AD,
  70: #7FB3C9,
  80: #9ACEE5,
  90: #BAEAFF,
  95: #DFF4FF,
  98: #F3FAFF,
  99: #FAFCFF,
  100: #FFFFFF
),
custom_tertiary_theme: (
  0: #000000,
  5: #001414,
  10: #051F1F,
  15: #112A29,
  20: #1C3434,
  25: #27403F,
  30: #334B4B,
  35: #3E5756,
  40: #4A6362,
  50: #627C7B,
  60: #7C9695,
  70: #96B0AF,
  80: #B1CCCB,
  90: #CDE8E7,
  95: #DBF6F5,
  98: #E3FFFE,
  99: #F1FFFE,
  100: #FFFFFF
),
custom_neutral_theme: (
  0: #000000,
  5: #111111,
  10: #1B1C1B,
  15: #262626,
  20: #303030,
  25: #3B3B3B,
  30: #474746,
  35: #535252,
  40: #5F5E5E,
  50: #787776,
  60: #929090,
  70: #ACABAA,
  80: #C8C6C5,
  90: #E4E2E1,
  95: #F3F0EF,
  98: #FBF9F8,
  99: #FEFCFB,
  100: #FFFFFF
),
custom_neutral-variant_theme: (
  0: #000000,
  5: #111111,
  10: #1C1B1B,
  15: #262625,
  20: #313030,
  25: #3C3B3B,
  30: #474646,
  35: #535252,
  40: #5F5E5E,
  50: #787776,
  60: #929090,
  70: #ADABAA,
  80: #C9C6C5,
  90: #E5E2E1,
  95: #F3F0EF,
  98: #FCF8F8,
  99: #F6FEFF,
  100: #FFFFFF
),
custom_error_theme: (
  0: #000000,
  5: #2C0100,
  10: #400100,
  15: #4F0B04,
  20: #5E160D,
  25: #6D2117,
  30: #7C2C21,
  35: #8C372B,
  40: #9B4335,
  50: #BA5B4C,
  60: #DA7363,
  70: #FA8D7B,
  80: #FFB4A7,
  90: #FFDAD4,
  95: #FFEDEA,
  98: #FFF8F6,
  99: #FFFBFF,
  100: #FFFFFF
));

$custom_primary: mat.define-colors($_palettes.custom-primary_theme);
$custom_secondary: mat.define-colors($_palettes.custom_secondary_theme);
$custom_tertiary: mat.define-colors($_palettes.custom_tertiary_theme);
$custom_neutral: mat.define-colors($_palettes.custom_neutral_theme);
$custom_neutral-variant: mat.define-colors($_palettes.custom_neutral-variant_theme);
$custom_error: mat.define-colors($_palettes.custom_error_theme);

$custom_theme: mat.define-theme(
  (
    color: (
      primary: $custom_primary,
      secondary: $custom_secondary,
      tertiary: $custom_tertiary,
      neutral: $custom_neutral,
      neutral-variant: $custom_neutral-variant,
      error: $custom_error,
    ),
    density: (
      scale: 0,
    )
  )
);

:root {
  @include mat.angular-material-theme($custom_theme);
  @include mat.all-component-themes($custom_theme);
}
