@import 'fonts-mobile';
@import 'colors-mobile';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@helveticaNeue: 'Helvetica Neue', Helvetica, sans-serif;
@didot: 'Didot', serif;

body {
  margin: 0;
  background-color: @color-bg-dark;
}

p {
  font-family: @helveticaNeue;
  margin: 0 !important;
}

h1 {
  font-family: @didot;
  color: @color-red;
  font-size: 24px;
  margin: 0;
}

h2 {
  font-family: @didot;
  color: @color-red;
  font-size: 24px;
  margin: 0;
  font-weight: bold;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: @helveticaNeue;
}

a {
  color: @color-blue;
  text-decoration: underline;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
