<app-data-container>
  <app-data-container-row ngProjectAs="panel-header">
    <div ngProjectAs="container-headline" class="headline">
      <div class="meta-data">
        <p class="date">{{ tournament.startDate | date:"dd.MM" }} - {{ tournament.endDate | date:"dd.MM.YYYY" }}</p>
        <p>{{ tournament.location }}</p>
      </div>
      <app-status-indicator ngProjectAs="container-additional" [totalTeams]="tournament.totalTeams" [registeredTeams]="tournament.registeredTeams" />
    </div>
    <span class="material-icons-outlined" ngProjectAs="container-icon">event</span>
    <p ngProjectAs="container-content" class="title">{{ tournament.name }}</p>
  </app-data-container-row>

  <app-data-container-row ngProjectAs="panel-content">
    <div class="content" ngProjectAs="container-content">
      <button mat-icon-button class="register" ngProjectAs="container-headline">
        <span class="material-icons-outlined">keyboard_arrow_right</span>
        Registrierung
      </button>

      <button mat-icon-button class="on-site" ngProjectAs="container-headline">
        <span class="material-icons-outlined">keyboard_arrow_right</span>
        Vor Ort
      </button>

      <button mat-icon-button class="contact" ngProjectAs="container-headline">
        <span class="material-icons-outlined">keyboard_arrow_right</span>
        Kontakt
      </button>

      <button mat-icon-button class="rules" ngProjectAs="container-headline">
        <span class="material-icons-outlined">keyboard_arrow_right</span>
        Regeln
      </button>
    </div>
  </app-data-container-row>
</app-data-container>
