@import 'colors-mobile';

:host {
  display: flex;
  height: calc(100vh - 58px);
}

.small-text {
  margin-bottom: 16px !important;
}

.data-information {
  margin-bottom: 16px;
  width: 100%;
  display: flex;
  align-items: center;
}

.content {
  display: block;
  padding: 16px 16px 70px 16px;
  background-color: @color-bg-light;
  border-radius: 20px 20px 0 0;
  flex-grow: 1;
}

team-information {
  width: 70%;
}

team-members,
team-own-tournaments {
  margin-bottom: 24px;
}

team-bottom-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
