@import 'colors-mobile';

:host {
  background-color: @color-bg-grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
}
