<div [formGroup]="form">
  <app-data-container-row>
    <div class="headline" ngProjectAs="container-headline">
      <h3>{{ 'create-tournament.name' | translate }}</h3>
      <input pInputText type="text" [formControl]="form.controls.name" />
    </div>
    @if ((form.controls.name.dirty || form.controls.name.touched) &&
    form.controls.name.hasError('required')) {
    <p ngProjectAs="container-content" class="error-message">{{ 'create-tournament.name-required' | translate }}</p>
    }
  </app-data-container-row>

  <app-data-container-row>
    <div class="headline" ngProjectAs="container-headline">
      <h3>{{ 'create-tournament.tournament-dates' | translate }}</h3>
      <div class="dates-input">
        <input
          pInputText
          type="date"
          [formControl]="form.controls.tournamentStartDate"
        />
        <p class="minus">-</p>
        <input
          pInputText
          type="date"
          [formControl]="form.controls.tournamentEndDate"
        />
      </div>
    </div>
    <app-info-button ngProjectAs="container-additional">
      <p>{{ 'create-tournament.tournament-dates-info' | translate }}</p>
    </app-info-button>
    @if ((form.controls.tournamentStartDate.dirty || form.controls.tournamentStartDate.touched) &&
    form.controls.tournamentStartDate.hasError('required')) {
    <p ngProjectAs="container-content" class="error-message">{{ 'create-tournament.tournament-start-date-required' | translate }}</p>
    }
    @if ((form.controls.tournamentEndDate.dirty || form.controls.tournamentEndDate.touched) &&
    form.controls.tournamentEndDate.hasError('required')) {
    <p ngProjectAs="container-content" class="error-message">{{ 'create-tournament.tournament-end-date-required' | translate }}</p>
    }
  </app-data-container-row>

  <app-data-container-row>
    <span class="material-icons-outlined" ngProjectAs="container-icon"
      >location_on</span
    >
    <div class="headline" ngProjectAs="container-headline">
      <h3>{{ 'create-tournament.arrival-dates' | translate }}</h3>
      <div class="dates-input">
        <input
          pInputText
          type="date"
          [formControl]="form.controls.arrivalStartDate"
        />
        <p class="minus">-</p>
        <input
          pInputText
          type="date"
          [formControl]="form.controls.arrivalEndDate"
        />
      </div>
    </div>
    <app-info-button ngProjectAs="container-additional">
      <p>{{ 'create-tournament.arrival-dates-info' | translate }}</p>
    </app-info-button>
  </app-data-container-row>

  <app-data-container-row>
    <span class="material-icons-outlined" ngProjectAs="container-icon"
      >location_on</span
    >
    <div class="headline" ngProjectAs="container-headline">
      <h3>{{ 'create-tournament.address' | translate }}</h3>
      <input pInputText type="text" [formControl]="form.controls.address" />
    </div>
  </app-data-container-row>
  @if ((form.controls.address.dirty || form.controls.address.touched) &&
  form.controls.address.hasError('required')) {
  <p ngProjectAs="container-content" class="error-message">{{ 'create-tournament.address-required' | translate }}</p>
  }
</div>
