@if (!!tournamentId) {
<app-button
  [color]="ButtonColorEnum.White"
  [type]="ButtonTypeEnum.Raised"
  [buttonType]="ButtonFunctionType.SUBMIT"
  [fullWidth]="true"
  (click)="onManageTeams()"
>
  {{ 'create-tournament.manage-teams' | translate }}
</app-button>
}
<div class="button-wrapper">
  <app-button
    [color]="ButtonColorEnum.White"
    [type]="ButtonTypeEnum.Raised"
    [buttonType]="ButtonFunctionType.SUBMIT"
    [fullWidth]="true"
  >
    {{ 'create-tournament.save' | translate }}
  </app-button>
  <app-button
    [color]="ButtonColorEnum.Red"
    [type]="ButtonTypeEnum.Raised"
    [buttonType]="ButtonFunctionType.SUBMIT"
    [fullWidth]="true"
    (click)="onPublish($event)"
  >
    {{ 'create-tournament.publish-tournament' | translate }}
  </app-button>
</div>
