<div [formGroup]="form">
  <app-data-container-row>
    <span class="material-icons-outlined" ngProjectAs="container-icon">edit</span>
    <div class="headline" ngProjectAs="container-headline">
      <h3>Anzahl Teams</h3>
      <div class="align-end">
        <p-selectButton
          [options]="teamCountOptions"
          formControlName="teamCountButton"
          optionLabel="label"
          optionValue="value"
        />
        <input
          class="total-count-teams-input"
          pInputText
          type="number"
          [formControl]="form.controls.teamCountField"
        >
      </div>
    </div>
  </app-data-container-row>

  <app-data-container-row>
    <span class="material-icons-outlined" ngProjectAs="container-icon">edit</span>
    <h3 ngProjectAs="container-headline">Anmeldeverfahren</h3>
    <p-selectButton
      ngProjectAs="container-content"
      [options]="registrationProcedureOptions"
      formControlName="registrationProcedure"
      optionLabel="label"
      optionValue="value"
    />
    <input
      class="registration-procedure-input"
      ngProjectAs="container-content"
      pInputText
      type="text"
      [formControl]="form.controls.registrationProcedureText"
    >
  </app-data-container-row>

  <app-data-container-row>
    <span class="material-icons-outlined" ngProjectAs="container-icon">edit</span>
    <div class="headline" ngProjectAs="container-headline">
      <h3>Anmeldung offen ab</h3>
      <div class="align-end">
        <input
          class="registration-start-input"
          pInputText
          type="date"
          [formControl]="form.controls.registrationStart"
          value="form.controls.registrationStart.value | date: 'yyyy-MM-dd'"
        >
        <app-button
          [color]="ButtonColorEnum.Red"
          [type]="ButtonTypeEnum.Raised"
          (click)="onOpenRegistrationNow()"
        >
          sofort
        </app-button>
      </div>
    </div>
  </app-data-container-row>

  <app-data-container-row>
    <span class="material-icons-outlined" ngProjectAs="container-icon">edit</span>
    <h3 ngProjectAs="container-headline">Kosten</h3>
    <div class="cost-inputs" ngProjectAs="container-content">
      <h5 class="registration-header">Anmeldung</h5>
      <input
        class="registration-input"
        pInputText
        type="number"
        [formControl]="form.controls.costs.controls.registrationFee"
      >
      <p-selectButton
        class="registration-input-type"
        [options]="pricingTypeOptions"
        [formControl]="form.controls.costs.controls.registrationFeePricingType"
        optionLabel="label"
        optionValue="value"
      />

      <h5 class="deposit-header">Kaution</h5>
      <input
        class="deposit-input"
        pInputText
        type="number"
        [formControl]="form.controls.costs.controls.deposit"
      >
      <p-selectButton
        class="deposit-input-type"
        [options]="pricingTypeOptions"
        [formControl]="form.controls.costs.controls.depositPricingType"
        optionLabel="label"
        optionValue="value"
      />

      <h5 class="accommodation-header">Übernachtung</h5>
      <input
        class="accommodation-input"
        pInputText
        type="number"
        [formControl]="form.controls.costs.controls.accommodation"
      >
      <p-selectButton
        class="accommodation-input-type"
        [options]="pricingTypeOptions"
        [formControl]="form.controls.costs.controls.accommodationPricingType"
        optionLabel="label"
        optionValue="value"
      />

      <h5 class="guests-header">Gäste</h5>
      <input
        class="guests-input"
        pInputText
        type="number"
        [formControl]="form.controls.costs.controls.guests"
      >
      <p-selectButton
        class="guests-input-type"
        [options]="pricingTypeOptions"
        [formControl]="form.controls.costs.controls.guestsPricingType"
        optionLabel="label"
        optionValue="value"
      />

      <h5 class="costs-text-header">Kommentar</h5>
      <input
        class="costs-text-input"
        pInputText
        type="text"
        placeholder="z.B. Zeltgebühr"
        [formControl]="form.controls.costs.controls.additionalText"
      >
    </div>
  </app-data-container-row>

  <app-data-container-row>
    <span class="material-icons-outlined" ngProjectAs="container-icon">edit</span>
    <h3 ngProjectAs="container-headline">Deadlines</h3>
    <textarea
      ngProjectAs="container-content"
      pInputTextarea
      type="text"
      placeholder="z.B. Bezahldeadline, 1. Nachrückerrunde, 2. Nachrückerrunde"
      [formControl]="form.controls.deadlines"
      rows="3"
      [autoResize]="true"
    ></textarea>
  </app-data-container-row>
</div>
