<form [formGroup]="form">
  <app-data-container-row>
    <span class="material-icons-outlined" ngProjectAs="container-icon">edit</span>
    <div class="headline" ngProjectAs="container-headline">
      <h3>Anzahl Teams</h3>
      <p-selectButton
        [options]="teamCountOptions"
        formControlName="teamCountButton"
        optionLabel="label"
        optionValue="value"
      />
      <input
        pInputText
        type="number"
        [formControl]="form.controls.teamCountField"
      >
    </div>
  </app-data-container-row>

  <app-data-container-row>
    <span class="material-icons-outlined" ngProjectAs="container-icon">edit</span>
    <h3 ngProjectAs="container-headline">Anmeldeverfahren</h3>
    <p-selectButton
      ngProjectAs="container-content"
      [options]="registrationProcedureOptions"
      formControlName="registrationProcedure"
      optionLabel="label"
      optionValue="value"
    />
    <input
      ngProjectAs="container-content"
      pInputText
      type="text"
      [formControl]="form.controls.registrationProcedureText"
    >
  </app-data-container-row>

  <app-data-container-row>
    <span class="material-icons-outlined" ngProjectAs="container-icon">edit</span>
    <div class="headline" ngProjectAs="container-headline">
      <h3>Anmeldung offen ab</h3>
      <div class="dates-input">
        <input
          pInputText
          type="date"
          [formControl]="form.controls.registrationStart"
          value="form.controls.registrationStart.value | date: 'yyyy-MM-dd'"
        >
      </div>
      <app-button
        [color]="ButtonColorEnum.Red"
        [type]="ButtonTypeEnum.Raised"
        (click)="onOpenRegistrationNow()"
      >
        sofort
      </app-button>
    </div>
  </app-data-container-row>

  <app-data-container-row>
    <span class="material-icons-outlined" ngProjectAs="container-icon">edit</span>
    <h3 ngProjectAs="container-headline">Kosten</h3>
    <div class="cost-inputs" ngProjectAs="container-content">
      <div class="cost-row">
        <h5>Anmeldung</h5>
        <input
          pInputText
          type="number"
          [formControl]="form.controls.costs.controls.registrationFee"
        >
        <p-selectButton
          [options]="pricingTypeOptions"
          [formControl]="form.controls.costs.controls.registrationFeePricingType"
          optionLabel="label"
          optionValue="value"
        />
      </div>
      <div class="cost-row">
        <h5>Kaution</h5>
        <input
          pInputText
          type="number"
          [formControl]="form.controls.costs.controls.deposit"
        >
        <p-selectButton
          [options]="pricingTypeOptions"
          [formControl]="form.controls.costs.controls.depositPricingType"
          optionLabel="label"
          optionValue="value"
        />
      </div>
      <div class="cost-row">
        <h5>Übernachtung</h5>
        <input
          pInputText
          type="number"
          [formControl]="form.controls.costs.controls.accommodation"
        >
        <p-selectButton
          [options]="pricingTypeOptions"
          [formControl]="form.controls.costs.controls.accommodationPricingType"
          optionLabel="label"
          optionValue="value"
        />
      </div>
      <div class="cost-row">
        <h5>Gäste</h5>
        <input
          pInputText
          type="number"
          [formControl]="form.controls.costs.controls.guests"
        >
        <p-selectButton
          [options]="pricingTypeOptions"
          [formControl]="form.controls.costs.controls.guestsPricingType"
          optionLabel="label"
          optionValue="value"
        />
      </div>
      <div class="cost-row">
        <h5>Kommentar</h5>
        <input
          pInputText
          type="text"
          [formControl]="form.controls.costs.controls.additionalText"
        >
      </div>
    </div>
  </app-data-container-row>

  <app-data-container-row>
    <span class="material-icons-outlined" ngProjectAs="container-icon">edit</span>
    <h3 ngProjectAs="container-headline">Deadlines</h3>
    <textarea
      ngProjectAs="container-content"
      pInputTextarea
      type="text"
      [formControl]="form.controls.deadlines"
    ></textarea>
  </app-data-container-row>
</form>
