<p>
  {{ 'page-tournament-details.registration-open' | translate }}:
  {{ registrationStartDate | date : 'dd.MM' }}
</p>
<app-button
  (click)="onShowDialog()"
  [type]="ButtonTypeEnum.Raised"
  [color]="ButtonColorEnum.Red"
  [fullWidth]="true"
  >{{ 'page-tournament-details.register-team' | translate }}</app-button
>
<p-dialog
  [(visible)]="dialogVisible"
  header="{{ 'page-tournament-details.select-team' | translate }}"
  [modal]="true"
>
  <p-dropdown
    [options]="teams"
    placeholder="{{ 'page-tournament-details.select-team' | translate }}"
    [editable]="true"
    optionLabel="name"
    [(ngModel)]="selectedTeam"
  />

  <app-button
    class="registrationButton"
    (click)="onRegistrationClick()"
    [type]="ButtonTypeEnum.Raised"
    [color]="ButtonColorEnum.Red"
    [fullWidth]="true"
    >{{ 'page-tournament-details.register-team' | translate }}</app-button
  >
</p-dialog>
