@import 'colors-mobile';

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.tournaments {
  display: block;
  padding: 16px 16px 16px 16px;
  background-color: @color-bg-light;
  border-radius: 20px 20px 0 0;
  flex-grow: 1;
}

.content {
  display: grid;
  grid-template-areas: "register on-site"
                        "contact rules";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 8px;
}

.register {
  grid-area: register;
}

.on-site {
  grid-area: on-site;
}

.contact {
  grid-area: contact;
}

.rules {
  grid-area: rules;
}

.material-icons-outlined {
  color: @color-button-positive !important;
}

button {
  justify-self: flex-start;
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 0;
  height: 24px;
}

.title {
  font-weight: bold;
  color: #B8594A;
  display: flex;
  align-items: center;
}

.headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.meta-data {
  display: flex;
  flex-direction: row;
}

.date {
  margin-right: 8px !important;
}

app-data-container {
  &:not(:last-of-type) {
    margin-bottom: 16px;
  }
}

.header {
  padding-left: 16px;
  margin-bottom: 16px;
}
