<div [formGroup]="form">
  <app-data-container-row>
    <div class="headline" ngProjectAs="container-headline">
      <span class="material-icons-outlined">edit</span>
      <p>{{ 'create-tournament.count-teams' | translate }}</p>
    </div>
    <div class="align-end" ngProjectAs="container-content">
      <p-selectButton
        [options]="teamCountOptions"
        formControlName="teamCountButton"
        optionLabel="label"
        optionValue="value"
      />
      <input
        class="total-count-teams-input"
        pInputText
        type="number"
        [formControl]="form.controls.teamCountField"
      />
    </div>
  </app-data-container-row>

  <app-data-container-row>
    <div class="headline" ngProjectAs="container-headline">
      <span class="material-icons-outlined">edit</span>
      <p>{{ 'create-tournament.registration-procedure' | translate }}</p>
    </div>
    <p-selectButton
      ngProjectAs="container-content"
      [options]="registrationProcedureOptions"
      formControlName="registrationProcedureType"
      optionLabel="label"
      optionValue="value"
    />
    <input
      class="registration-procedure-input"
      ngProjectAs="container-content"
      pInputText
      type="text"
      [formControl]="form.controls.registrationProcedureText"
    />
  </app-data-container-row>

  <app-data-container-row>
    <div class="headline" ngProjectAs="container-headline">
      <span class="material-icons-outlined" ngProjectAs="container-icon">edit</span>
      <p>{{ 'create-tournament.registration-start' | translate }}</p>
    </div>
    <div class="align-end" ngProjectAs="container-content">
      <input
        class="registration-start-input"
        pInputText
        type="date"
        [formControl]="form.controls.registrationStartDate"
        value="{{
          form.controls.registrationStartDate.value | date : 'yyyy-MM-dd'
        }}"
      />
      <app-button
        [color]="ButtonColorEnum.Red"
        [type]="ButtonTypeEnum.Raised"
        (click)="onOpenRegistrationNow()"
      >
        {{ 'create-tournament.now' | translate }}
      </app-button>
    </div>
  </app-data-container-row>

  <app-data-container-row>
    <div class="headline costs-headline" ngProjectAs="container-headline">
      <span class="material-icons-outlined" ngProjectAs="container-icon">edit</span>
      <p>{{ 'create-tournament.costs' | translate }}</p>
    </div>
    <div class="cost-inputs" ngProjectAs="container-content">
      <p class="costs-header">
        {{ 'create-tournament.registration' | translate }}
      </p>
      <div class="costs-content">
        <p-inputNumber
          class="registration-input"
          type="number"
          [formControl]="form.controls.costs.controls.registrationCosts"
        />
        <p-selectButton
          class="registration-input-type"
          [options]="pricingTypeOptions"
          [formControl]="form.controls.costs.controls.registrationCostsType"
          optionLabel="label"
          optionValue="value"
        />
      </div>

      <p class="costs-header">
        {{ 'create-tournament.deposit' | translate }}
      </p>
      <div class="costs-content">
        <p-inputNumber
          class="deposit-input"
          type="number"
          [formControl]="form.controls.costs.controls.depositCosts"
        />
        <p-selectButton
          class="deposit-input-type"
          [options]="pricingTypeOptions"
          [formControl]="form.controls.costs.controls.depositCostsType"
          optionLabel="label"
          optionValue="value"
        />
      </div>

      <p class="costs-header">
        {{ 'create-tournament.accommodation' | translate }}
      </p>
      <div class="costs-content">
        <p-inputNumber
          class="accommodation-input"
          type="number"
          [formControl]="form.controls.costs.controls.accommodationCosts"
        />
        <p-selectButton
          class="accommodation-input-type"
          [options]="pricingTypeOptions"
          [formControl]="form.controls.costs.controls.accommodationCostsType"
          optionLabel="label"
          optionValue="value"
        />
      </div>

      <p class="costs-header">
        {{ 'create-tournament.guests' | translate }}
      </p>
      <div class="costs-content">
        <p-inputNumber
          class="guests-input"
          type="number"
          [formControl]="form.controls.costs.controls.guestCosts"
        />
        <p-selectButton
          class="guests-input-type"
          [options]="pricingTypeOptions"
          [formControl]="form.controls.costs.controls.guestCostsType"
          optionLabel="label"
          optionValue="value"
        />
      </div>

      <p class="costs-header">
        {{ 'create-tournament.comment' | translate }}
      </p>
      <textarea
        class="costs-text-input"
        pInputTextarea
        type="text"
        placeholder="z.B. Zeltgebühr"
        [formControl]="form.controls.costs.controls.costsText"
        rows="1"
        [autoResize]="true"
      ></textarea>
    </div>
  </app-data-container-row>

  <app-data-container-row>
    <div class="headline" ngProjectAs="container-headline">
      <span class="material-icons-outlined" ngProjectAs="container-icon">edit</span>
      <p>{{ 'create-tournament.deadlines' | translate }}</p>
    </div>
    <textarea
      ngProjectAs="container-content"
      pInputTextarea
      type="text"
      placeholder="{{ 'create-tournament.deadlines-placeholder' | translate }}"
      [formControl]="form.controls.deadlines"
      rows="3"
      [autoResize]="true"
    ></textarea>
  </app-data-container-row>
</div>
