<h3>{{ 'page-team-details.members' | translate }}</h3>

<app-data-container>
  @if (team.members.length > 0) { @for (member of team.members; track member) {
  <app-data-container-row>
    <img
      ngProjectAs="container-icon"
      alt="Profilbild von {{ member }}"
      ngSrc="{{ member.pictureUrl }}"
      width="28"
      height="28"
    />
    <p ngProjectAs="container-headline">{{ member.name }}</p>
    @if (showRole(member.role) !== '') {
    <app-chip ngProjectAs="container-additional">{{ showRole(member.role) | translate }}</app-chip>
    }
  </app-data-container-row>
  } } @else {
  <div class="noMembers">
    <p>{{ 'page-team-details.no-members-yet' | translate }}</p>
  </div>
  }
</app-data-container>
