@use '@angular/material' as mat;
@include mat.core();

$font-family-primary: "'Helvetica Neue', sans-serif";
$font-family-accent: "'Didot', sans-serif";

$custom-typography: mat.m2-define-typography-config(
  $headline-1: mat.m2-define-typography-level(96px, 112px, 300, $font-family-accent),
  $headline-2: mat.m2-define-typography-level(60px, 72px, 300, $font-family-accent),
  $headline-3: mat.m2-define-typography-level(48px, 56px, 400, $font-family-accent),
  $headline-4: mat.m2-define-typography-level(34px, 40px, 400, $font-family-accent),
  $headline-5: mat.m2-define-typography-level(24px, 32px, 400, $font-family-accent),
  $headline-6: mat.m2-define-typography-level(20px, 24px, 500, $font-family-accent),
  $body-1: mat.m2-define-typography-level(16px, 24px, 500, $font-family-primary),
  $body-2: mat.m2-define-typography-level(16px, 24px, 500, $font-family-primary),
  $subtitle-1: mat.m2-define-typography-level(16px, 24px, 500, $font-family-primary),
  $subtitle-2: mat.m2-define-typography-level(16px, 24px, 500, $font-family-primary),
  $button: mat.m2-define-typography-level(16px, 16px, 500, $font-family-primary),
  $caption: mat.m2-define-typography-level(12px, 16px, 400, $font-family-primary),
  $overline: mat.m2-define-typography-level(10px, 16px, 400, $font-family-primary),
);

$palette-custom_primary_theme: (
  0: #000000,
  50: #2C0100,
  100: #400100,
  150: #4F0B04,
  200: #5E160D,
  250: #6D2117,
  300: #7C2C21,
  350: #8C372B,
  400: #9B4335,
  500: #BA5B4C,
  600: #DA7363,
  700: #FA8D7B,
  800: #FFB4A7,
  900: #FFDAD4,
  950: #FFEDEA,
  980: #FFF8F6,
  990: #FFFBFF,
  1000: #FFFFFF,
  A100: #FFFFFF,
  contrast: ()
);

$palette-custom_secondary_theme: (
  0: #000000,
  50: #00131B,
  100: #001F29,
  150: #002A37,
  200: #003545,
  250: #004153,
  300: #104D60,
  350: #21596C,
  400: #2F6579,
  500: #4A7E93,
  600: #6498AD,
  700: #7FB3C9,
  800: #9ACEE5,
  900: #BAEAFF,
  950: #DFF4FF,
  980: #F3FAFF,
  990: #FAFCFF,
  1000: #FFFFFF,
  A100: #FFFFFF,
  contrast:()
);

$palette-custom_tertiary_theme: (
  0: #000000,
  50: #001414,
  100: #051F1F,
  150: #112A29,
  200: #1C3434,
  250: #27403F,
  300: #334B4B,
  350: #3E5756,
  400: #4A6362,
  500: #627C7B,
  600: #7C9695,
  700: #96B0AF,
  800: #B1CCCB,
  900: #CDE8E7,
  950: #DBF6F5,
  980: #E3FFFE,
  990: #F1FFFE,
  1000: #FFFFFF,
  A100: #FFFFFF,
  contrast:()
);

$palette-custom_neutral_theme: (
  0: #000000,
  50: #111111,
  100: #1B1C1B,
  150: #262626,
  200: #303030,
  250: #3B3B3B,
  300: #474746,
  350: #535252,
  400: #5F5E5E,
  500: #787776,
  600: #929090,
  700: #ACABAA,
  800: #C8C6C5,
  900: #E4E2E1,
  950: #F3F0EF,
  980: #FBF9F8,
  990: #FEFCFB,
  1000: #FFFFFF,
  A100: #FFFFFF,
  contrast:()
);

$palette-custom_neutral-variant_theme: (
  0: #000000,
  50: #111111,
  100: #1C1B1B,
  150: #262625,
  200: #313030,
  250: #3C3B3B,
  300: #474646,
  350: #535252,
  400: #5F5E5E,
  500: #787776,
  600: #929090,
  700: #ADABAA,
  800: #C9C6C5,
  900: #E5E2E1,
  950: #F3F0EF,
  980: #FCF8F8,
  990: #F6FEFF,
  1000: #FFFFFF,
  A100: #FFFFFF,
  contrast: ()
);

$palette-custom_error_theme: (
  0: #000000,
  50: #2C0100,
  100: #400100,
  150: #4F0B04,
  200: #5E160D,
  250: #6D2117,
  300: #7C2C21,
  350: #8C372B,
  400: #9B4335,
  500: #BA5B4C,
  600: #DA7363,
  700: #FA8D7B,
  800: #FFB4A7,
  900: #FFDAD4,
  950: #FFEDEA,
  980: #FFF8F6,
  990: #FFFBFF,
  1000: #FFFFFF,
  A100: #FFFFFF,
  contrast: ()
);

$custom_color_primary: mat.m2-define-palette($palette-custom_primary_theme);
$custom_color_secondary: mat.m2-define-palette($palette-custom_secondary_theme);
$custom_color_tertiary: mat.m2-define-palette($palette-custom_tertiary_theme);
$custom_color_neutral: mat.m2-define-palette($palette-custom_neutral_theme);
$custom_color_neutral-variant: mat.m2-define-palette($palette-custom_neutral-variant_theme);
$custom_color_error: mat.m2-define-palette($palette-custom_error_theme);

@mixin custom-theme() {
  $custom_theme: mat.m2-define-light-theme(
    (
      color: (
        primary: $custom_color_primary,
        accent: $custom_color_primary,
        secondary: $custom_color_secondary,
        tertiary: $custom_color_tertiary,
        neutral: $custom_color_neutral,
        neutral-variant: $custom_color_neutral-variant,
        error: $custom_color_error,
      ),
      density: (
        scale: 0,
      )
    )
  );

  :root {
    @include mat.angular-material-theme($custom_theme);
    @include mat.all-component-themes($custom_theme);
    @include mat.angular-material-typography($custom-typography);
  }
};
