<div class="header">
  <div mat-button class="home">
    <span class="material-icons-outlined">image</span>
    <h1>JTR 2.0</h1>
  </div>
  <nav>
    <a
      routerLink="/tournaments-overview"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      Turniere
      <span class="material-icons-outlined">keyboard_arrow_down</span>
    </a>
    <a
      routerLink="/teams-overview"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >
      Teams
      <span class="material-icons-outlined">keyboard_arrow_down</span>
    </a>
  </nav>
  <div class="account">
    @if (isLoggedIn) {
      <app-button [color]="ButtonColorEnum.None" [type]="ButtonTypeEnum.Icon">
        <span class="material-icons-outlined">account_circle</span>
      </app-button>
    } @else {
      <app-button [color]="ButtonColorEnum.None" [type]="ButtonTypeEnum.Basic" (click)="login.toggle($event)">
        <p class="color-blue">Login</p>
      </app-button>
    }
    <app-button [color]="ButtonColorEnum.None" [type]="ButtonTypeEnum.Icon">
      <span class="material-icons-outlined">menu</span>
    </app-button>
  </div>
</div>
<div class="content">
  <router-outlet />
</div>

<p-overlayPanel #login>
  <login-overlay />
</p-overlayPanel>
