<div class="header">
  <div mat-button class="home">
    <span class="material-icons-outlined">image</span>
    <h1>JTR 2.0</h1>
  </div>
  <nav>
    <a
      routerLink="/tournaments-overview"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      {{ 'tournaments' | translate }}
      <span class="material-icons-outlined">keyboard_arrow_down</span>
    </a>
    <a
      routerLink="/teams-overview"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >
      Teams
      <span class="material-icons-outlined">keyboard_arrow_down</span>
    </a>
  </nav>
  <div class="account">
    <div>
      <button (click)="switchLanguage('en')">English</button>
      <button (click)="switchLanguage('de')">Deutsch</button>
    </div>
    <button mat-button>Login</button>
    <button mat-icon-button>
      <span class="material-icons-outlined">account_circle</span>
    </button>
    <button mat-icon-button="menu">
      <span class="material-icons-outlined">menu</span>
    </button>
  </div>
</div>
<div class="content">
  <router-outlet />
</div>
