@color-bg-light: #daeff0;
@color-bg-light-hover: #c4e4e5;
@color-bg-white: #ffffff;
@color-bg-white-hover: #f5f5f5;
@color-bg-grey: #d9d9d9;
@color-bg-grey-hover: #cbcbcb;
@color-bg-red: #eae2e3;

@color-red: #b8594a;
@color-red-hover: #a74b3f;
@color-blue: #034659;
@color-blue-hover: #023b4b;
@color-full: #ebd3d6;
@color-negative: #e5b5bc;
@color-button-positive: #bcd7d6;
@color-button-passive: #a4a4a4;
@color-button-passive-hover: #8c8c8c;

@color-text-default: #000000;
@color-text-white: #ffffff;
