<h3>{{ 'create-tournament.content-table' | translate }}</h3>
<ol>
  <li>
    <a href="create-tournament#header">{{ 'create-tournament.general-information' | translate }}</a>
  </li>
  <li>
    <a href="create-tournament#registration">{{ 'create-tournament.registration' | translate }}</a>
  </li>
  <li>
    <a href="create-tournament#contact">{{ 'create-tournament.on-site' | translate }}</a>
    <ul>
      <li>
        <a href="create-tournament#contact">{{ 'create-tournament.organizer' | translate }}</a>
      </li>
      <li>
        <a href="create-tournament#accommodation">{{ 'create-tournament.participants' | translate }}</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="create-tournament#rules">{{ 'create-tournament.rules' | translate }}</a>
  </li>
  <li>
    <a href="create-tournament#additional">{{ 'create-tournament.additional-information' | translate }}</a>
  </li>
</ol>
