<h3>{{ 'create-tournament.content-table' | translate }}</h3>
<ol>
  <li>
    <a href="create-tournament/tournament-information#header">{{
      'create-tournament.general-information' | translate
    }}</a>
  </li>
  <li>
    <a href="create-tournament/tournament-information#registration">{{
      'create-tournament.registration' | translate
    }}</a>
  </li>
  <li>
    <a href="create-tournament/tournament-information#contact">{{
      'create-tournament.on-site' | translate
    }}</a>
    <ul>
      <li>
        <a href="create-tournament/tournament-information#contact">{{
          'create-tournament.organizer' | translate
        }}</a>
      </li>
      <li>
        <a href="create-tournament/tournament-information#accommodation">{{
          'create-tournament.participants' | translate
        }}</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="create-tournament/tournament-information#rules">{{
      'create-tournament.rules' | translate
    }}</a>
  </li>
  <li>
    <a href="create-tournament/tournament-information#additional">{{
      'create-tournament.additional-information' | translate
    }}</a>
  </li>
</ol>
