@let user = user$ | async; @let isLoggedIn = isLoggedIn$ | async;

<div class="header">
  <div class="left">
    <app-button (click)="navigateToHome()">
      <img src="assets/jtr-logo.png" alt="Logo" width="32" height="32" />
    </app-button>
    <app-button
      [type]="ButtonTypeEnum.Icon"
      [color]="ButtonColorEnum.None"
      (click)="prideFlag.toggle($event)"
    >
      <img
        src="assets/svgs/progress-pride-flag.svg"
        alt="Pride Flag"
        width="30"
        height="30"
      />
    </app-button>
  </div>
  <nav>
    @if (isLoggedIn$ | async) {
    <app-button
      [color]="ButtonColorEnum.None"
      [type]="ButtonTypeEnum.Icon"
      (click)="navigateToUserDetails()"
    >
      @if (user) {
      <img
        id="logo"
        alt="Profile Picture of {{ user?.username }}"
        [src]="user?.pictureUrl"
        height="32"
        width="32"
        class="user-profile-pic"
      />
      } @else {
      <span class="material-icons-outlined">account_circle</span>
      }
    </app-button>
    }
    <app-button (click)="openOverlay()">
      <span class="material-icons-outlined">menu</span>
    </app-button>
  </nav>
</div>
<div class="content">
  <router-outlet />
</div>

<app-overlay-menu #overlay (close)="closeOverlay()" />

<p-overlayPanel #prideFlag>
  <p class="pride-text">
    Jugger setzt sich immer stärker für seine Queeren Mitglieder ein. So soll
    aus uns eine bunte und vielfältige Community werden, in der alle Menschen
    willkommen sind.
  </p>
  <a class="pride-text">Lies hierzu die Texte von Alex und Momo</a>
</p-overlayPanel>
