<div [formGroup]="form">
  <app-data-container-row>
    <span class="material-icons-outlined" ngProjectAs="container-icon"
      >location_on</span
    >
    <div class="headline" ngProjectAs="container-headline">
      <h3>{{ 'create-tournament.accommodation' | translate }}</h3>
      <p-selectButton
        [options]="accommodationTypeOptions"
        [formControl]="form.controls.accommodationType"
        optionLabel="label"
        optionValue="value"
      />
    </div>
    @if ((form.controls.accommodationType.dirty || form.controls.accommodationType.touched) &&
    form.controls.accommodationType.hasError('required')) {
    <p ngProjectAs="container-content" class="error-message">{{ 'create-tournament.accommodation-type-required' | translate }}</p>
    }
  </app-data-container-row>

  <app-data-container-row>
    <span class="material-icons-outlined" ngProjectAs="container-icon"
      >location_on</span
    >
    <h3 ngProjectAs="container-headline">
      {{ 'create-tournament.accommodation-address' | translate }}
    </h3>
    <input
      class="registration-procedure-input"
      ngProjectAs="container-content"
      pInputText
      type="text"
      [formControl]="form.controls.accommodationAddress"
    />
  </app-data-container-row>

  <app-data-container-row>
    <span class="material-icons-outlined" ngProjectAs="container-icon"
      >location_on</span
    >
    <h3 ngProjectAs="container-headline">
      {{ 'create-tournament.food' | translate }}
    </h3>
    <div class="food" ngProjectAs="container-content">
      <h5>{{ 'create-tournament.breakfast' | translate }}</h5>
      <p-dropdown
        [formControl]="form.controls.food.controls.breakfast"
        [options]="breakfastAvailabilityOptions"
      />
      <h5>{{ 'create-tournament.lunch' | translate }}</h5>
      <p-dropdown
        [formControl]="form.controls.food.controls.lunch"
        [options]="lunchAvailabilityOptions"
      />
      <h5>{{ 'create-tournament.dinner' | translate }}</h5>
      <p-dropdown
        [formControl]="form.controls.food.controls.dinner"
        [options]="dinnerAvailabilityOptions"
      />
      <h5>{{ 'create-tournament.gastronomy' | translate }}</h5>
      <p-dropdown
        [formControl]="form.controls.food.controls.gastronomy"
        [options]="gastronomyAvailabilityOptions"
      />
    </div>
    @if ((form.dirty || form.touched) &&
    (form.controls.food.controls.breakfast.hasError('required') || form.controls.food.controls.lunch.hasError('required') || form.controls.food.controls.dinner.hasError('required') || form.controls.food.controls.gastronomy.hasError('required'))) {
    <p ngProjectAs="container-content" class="error-message">{{ 'create-tournament.food-required' | translate }}</p>
    }
  </app-data-container-row>
</div>
