.headline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

input {
  width: 100%;
}

.food {
  display: grid;
  grid-template-columns: 10rem 1fr;
  grid-row-gap: 8px;
  align-items: center;
}

::ng-deep .p-dropdown {
  width: 100%;
}
