@let user = user$ | async;
@if (!!user) {
  <page-user-details-header [user]="user" />

  <div class="content">
    @if (user?.isCityVisible && user?.isBirthdateVisible) {
    <app-data-container>
      @if (user?.isCityVisible) {
      <app-data-container-row>
        <div ngProjectAs="container-headline" class="city">
          <h4>{{ 'user-details.city' | translate }}:</h4>
          <p>{{ user.city }}</p>
        </div>
      </app-data-container-row>
      } @if (user?.isBirthdateVisible) {
      <app-data-container-row>
        <div class="birthdate" ngProjectAs="container-headline">
          <h4>{{ 'user-details.birthdate' | translate }}:</h4>
          <p>{{ user.birthdate | date : 'dd.MM.yyyy' }}</p>
        </div>
      </app-data-container-row>
      }
    </app-data-container>
    } @if (user?.teams) {
    <h4>{{ 'user-details.teams' | translate }}:</h4>
    @for (team of user?.teams; track team.id) {
    <app-button
      [color]="ButtonColorEnum.Grey"
      [type]="ButtonTypeEnum.Raised"
      [fullWidth]="true"
      [justifyContent]="ButtonJustifyContentEnum.FLEX_START"
      (click)="navigateToTeam(team.id)"
      class="team-button"
    >
      <div class="team">
        <img
          id="logo"
          alt="Logo of {{ team.name }}"
          ngSrc="{{ team.logoUrl }}"
          height="30"
          width="30"
        />
        <p>{{ team.name }}</p>
      </div>
    </app-button>
    } @empty {
    <p>{{ 'user-details.no-teams' | translate }}</p>
    } } @else {
    <p>{{ 'user-details.no-teams' | translate }}</p>
    }

    <app-button
      [color]="ButtonColorEnum.Red"
      [type]="ButtonTypeEnum.Raised"
      class="cta"
      (click)="addUserToTeam()"
    >zu Team hinzufügen</app-button
    >
  </div>
} @else {
  <p>{{ 'user-details.user-not-found' | translate }}</p>
}
