<div class="content">
  <div class="picture-name">
    @if (user().pictureUrl) {
    <img
      id="logo"
      alt="Profile Picture of {{ user().username }}"
      [src]="user().pictureUrl"
      height="48"
      width="48"
    />
    } @if (user().isNameVisible) {
    <div class="names">
      <h1>{{ user().name }}</h1>
      <h4>{{ user().username }}</h4>
    </div>
    } @else {
    <h1>{{ user().username }}</h1>
    }
  </div>

  @if (user().pronouns !== '' && user().pronouns) {
  <div class="pronouns">
    <p>{{ 'user-details.pronouns' | translate }}: {{ user().pronouns }}</p>
    <app-info-button>
      <p class="i-headline">{{ 'user-details.pronouns' | translate }}</p>
      <p>{{ 'user-details.pronouns-info' | translate }}</p>
    </app-info-button>
  </div>
  }
</div>
