<div class="overlay" *ngIf="isOpen">
  <button class="close-button" (click)="closeMenu()">✕</button>
  <div class="menu-links">
    <button (click)="closeMenu()">Turniere</button>
    <button (click)="closeMenu()">Teams</button>
    <button (click)="closeMenu()">Account</button>
    <button (click)="closeMenu()">Linksammlung</button>
    <button (click)="closeMenu()">Login</button>
    <button (click)="closeMenu()">Über uns</button>
    <button (click)="closeMenu()">Impressum</button>
  </div>
  <div class="language">
    <app-button
      [type]="ButtonTypeEnum.Flat"
      [color]="ButtonColorEnum.Grey"
      (click)="switchLanguage('en')"
    >
      <p class="color-blue">Englisch</p>
    </app-button>
    <app-button
      [type]="ButtonTypeEnum.Flat"
      [color]="ButtonColorEnum.Grey"
      (click)="switchLanguage('de')"
    >
      <p class="color-blue">Deutsch</p>
    </app-button>
  </div>
</div>
