<div class="overlay" *ngIf="isOpen">
  <button class="close-button" (click)="closeMenu()">✕</button>
  <div class="menu-links">
    <button (click)="closeMenu()">Turniere</button>
    <button (click)="closeMenu()">Teams</button>
    <button (click)="closeMenu()">Account</button>
    <button (click)="closeMenu()">Linksammlung</button>
    <button (click)="closeMenu()">Login</button>
    <button (click)="closeMenu()">Über uns</button>
    <button (click)="closeMenu()">Impressum</button>
  </div>
</div>
