<div class="overlay" *ngIf="isOpen">
  <button class="close-button" (click)="closeMenu()">✕</button>
  <div class="menu-links">
    <button (click)="onRedirectToTournaments()">Turniere</button>
    <button (click)="onRedirectToTeams()">Teams</button>
    <button (click)="onRedirectToAccount()">Account</button>
    <button (click)="onRedirectToLinks()">Linksammlung</button>
    @if (isLoggedIn$ | async) {
    <button (click)="logout()">Logout</button>
    } @else {
    <button (click)="onRedirectToLogin()">Login</button>
    }
    <button (click)="onRedirectToAboutUs()">Über uns</button>
    <button (click)="onRedirectToImpressum()">Impressum</button>
  </div>
  <div class="language">
    <app-button
      [type]="ButtonTypeEnum.Flat"
      [color]="ButtonColorEnum.Grey"
      (click)="switchLanguage('en')"
    >
      <p class="color-blue">Englisch</p>
    </app-button>
    <app-button
      [type]="ButtonTypeEnum.Flat"
      [color]="ButtonColorEnum.Grey"
      (click)="switchLanguage('de')"
    >
      <p class="color-blue">Deutsch</p>
    </app-button>
  </div>
</div>
