<div class="buttons">
  <app-button
    [color]="ButtonColorEnum.White"
    [type]="ButtonTypeEnum.Fab"
    (click)="openAddTeamOverlay()"
  >
    <span class="material-icons-outlined">add</span>
  </app-button>
  <app-button
    class="submit"
    [fullWidth]="true"
    [color]="ButtonColorEnum.Red"
    [type]="ButtonTypeEnum.Raised"
    (click)="save()"
    >{{ 'manage-tournament-teams.save' | translate }}</app-button
  >
</div>

<p-dialog
  header="Add Team"
  [modal]="true"
  [(visible)]="addTeamVisible"
  [style]="{ width: '25rem' }"
>
  <div>
    @let allTeams = allTeams$ | async; @if (!!allTeams) {
    <p-dropdown
      [options]="allTeams"
      [(ngModel)]="selectedTeam"
      optionLabel="name"
      [filter]="true"
      filterBy="name"
      placeholder="{{ 'manage-tournament-teams.select-team' | translate }}"
    />
    }
  </div>
  <ng-template pTemplate="footer">
    <app-button
      (onClick)="closeAddTeamOverlay()"
      [color]="ButtonColorEnum.White"
      [type]="ButtonTypeEnum.Raised"
    >
      {{ 'manage-tournament-teams.cancel' | translate }}
    </app-button>
    <app-button
      (onClick)="addTeam()"
      [color]="ButtonColorEnum.Red"
      [type]="ButtonTypeEnum.Raised"
    >
      {{ 'manage-tournament-teams.add' | translate }}
    </app-button>
  </ng-template>
</p-dialog>
