<div class="buttons">
  <app-button
    [color]="ButtonColorEnum.White"
    [type]="ButtonTypeEnum.Fab"
    (click)="openAddTeamOverlay()"
  >
    <span class="material-icons-outlined">add</span>
  </app-button>
</div>

<p-dialog
  header="Add Team"
  [modal]="true"
  [(visible)]="addTeamVisible"
  [style]="{ width: '25rem' }"
>
  <div>
    @if (teams$ | async; as teams) {
    <p-dropdown
      [options]="teams"
      [(ngModel)]="selectedTeam"
      optionLabel="name"
      [filter]="true"
      filterBy="name"
      placeholder="{{ 'manage-tournament-teams.select-team' | translate }}"
    />
    }
  </div>
  <ng-template pTemplate="footer">
    <app-button
      (click)="closeAddTeamOverlay()"
      [color]="ButtonColorEnum.White"
      [type]="ButtonTypeEnum.Raised"
    >
      {{ 'manage-tournament-teams.cancel' | translate }}
    </app-button>
    <app-button
      (click)="addTeam(); closeAddTeamOverlay()"
      [color]="ButtonColorEnum.Red"
      [type]="ButtonTypeEnum.Raised"
    >
      {{ 'manage-tournament-teams.add' | translate }}
    </app-button>
  </ng-template>
</p-dialog>
