@import 'colors-desktop';

:host {
  display: block;
  padding-bottom: 48px;
}

form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 32px;
  grid-template-rows: auto;
  grid-template-areas: 'email .' 'username .' 'name name-button' 'pronouns .' 'city city-button' 'birthdate birthdate-button' 'register-button register-button';
  grid-column-gap: 48px;
  grid-row-gap: 24px;
  align-items: end;
  margin-top: 24px;
}

.register-button {
  grid-area: register-button;
  width: 20%;
  justify-self: end;
}

input {
  margin-top: 8px;
  min-height: 24px;
  border-radius: 8px;
  border: 1px solid @color-text-default;
  width: 100%;
  font-size: 16px;
  padding: 4px 8px;

  &.invalid {
    border: 2px solid @color-red;
  }
}

.i-headline {
  margin-bottom: 8px !important;
}

.headline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.email {
  grid-area: email;
}

.username {
  grid-area: username;
}

.password {
  grid-area: password;
}

.password-repeat {
  grid-area: password-repeat;
}

.name {
  grid-area: name;
}

.name-button {
  grid-area: name-button;
}

.pronouns {
  grid-area: pronouns;
}

.city {
  grid-area: city;
}

.city-button {
  grid-area: city-button;
}

.birthdate {
  grid-area: birthdate;
}

.birthdate-button {
  grid-area: birthdate-button;
}

.error-message {
  margin-top: 4px !important;
  color: @color-red;
}

img {
  border-radius: 50%;
}

.team {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  padding: 4px;
}

.team-button {
  &:not(:last-of-type) {
    margin-bottom: 16px;
  }
}

.cta {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  gap: 16px;
  margin-top: 24px;
}
