@import 'colors-mobile';

app-data-container {
  display: grid;
  grid-template-areas:
    'placement arrow logo gap city points'
    'placement arrow logo gap name points';
  grid-template-columns: 16px 24px 50px 0 auto 60px;
  width: 100%;
  gap: 4px;
  align-items: center;
}

.placement {
  grid-area: placement;
}

arrow {
  grid-area: arrow;
}

img {
  grid-area: logo;
  border-radius: 50%;
}

.city {
  grid-area: city;
  text-align: start;
}

.team-name {
  grid-area: name;
  font-weight: bold;
  text-align: start;
}

.points {
  grid-area: points;
}
