<div class="background">
  <page-login-header />

  <div class="content">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row link">
        <p>{{ 'login.no-account' | translate }}</p>
        <a href="/register">{{ 'login.register' | translate }}</a>
      </div>

      <div class="row">
        <label>{{ 'login.email-or-username' | translate }}</label>
        <input
          type="text"
          class="form-control"
          [formControl]="form.controls.emailOrUsername"
          id="emailOrUsername"
        />
      </div>

      <div class="row">
        <div class="link">
          <label for="password">{{ 'login.password' | translate }}</label>
          <app-button
            (click)="forgotPassword()"
          >
            <p class="forgot-password">{{ 'login.forgot-password' | translate }}</p>
          </app-button>
        </div>
        <input
          type="password"
          class="form-control"
          [formControl]="form.controls.password"
          id="password"
        />
      </div>

      <app-button
        [color]="ButtonColorEnum.Red"
        [type]="ButtonTypeEnum.Flat"
        [buttonType]="ButtonFunctionType.SUBMIT"
        >{{ 'login.login-button' | translate }}</app-button
      >

      @if (loginAttemptResponse !== undefined) { @if
      (loginAttemptResponse.lockType === LockType.TEMPORARILY) {
      <h4>
        {{ 'login.locked-permanently' | translate }}
      </h4>
      } @else if (loginAttemptResponse.lockType === LockType.PERMANENTLY) {
      <h4>
        {{ 'login.locked-temporarily' | translate }}
        {{ loginAttemptResponse.lockedUntil | minutesDiff }}
        {{ 'minutes' | translate }}
      </h4>
      } }
    </form>
  </div>
</div>
