@import "fonts-desktop.less";
@import "colors-desktop.less";

body {
  margin: 0;
  background-color: @color-bg-light;
}

p {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
}

h1 {
  font-family: "Didot", serif;
  color: @color-red;
  font-size: 48px;
  margin: 0;
}

h2 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: @color-red;
  font-size: 24px;
  margin: 0;
  font-weight: normal;
}

html, body { height: 100%; }
body { margin: 0; font-family: "Helvetica Neue", Helvetica, sans-serif; }
